In [2]:
import pandas as pd
import numpy as np

## GPD 1

In [2]:
data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\GB Request\GB Transactions.xlsx', sheet_name='GB Only')

In [3]:
data

,BASE DATE,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK,LoB,TRX TYPE,IN/OUT
0,2022-08-15 00:00:00,G406240135,NaN,3.950000e+10,2.407001e+09,"ABC PRESIDENT INDONESIA, PT",BANK BII MAYBANK,001180967068,PT ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
1,2022-08-30 00:00:00,G406240135,NaN,3.160000e+10,2.407001e+09,"ABC PRESIDENT INDONESIA, PT",BANK BII MAYBANK,001180967068,PT ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
2,2022-08-30 00:00:00,G406240135,NaN,1.900000e+09,2.407001e+09,"ABC PRESIDENT INDONESIA, PT",BANK BII MAYBANK,001180967068,PT ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
3,2022-08-01 00:00:00,G808537518,NaN,5.000000e+11,2.596003e+09,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,36479855,0,BANK DANAMON,GB,RTGS,OUTGOING
4,NaN,G808537518,NaN,3.169426e+10,NaN,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,NaN,BNP PARIBAS,"JP MORGAN CHASE, NY",GB,TT,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35562,20220831,G503045999,6794289.0,5.000000e+05,NaN,SHELLY,BANK BCA,2002111888,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35563,20220831,G503045999,6794289.0,7.099200e+07,NaN,69966491 SD CITRA KASIH,BANK MALUKU MALUT,2093223000,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35564,20220831,G409433240,12508370.0,2.500000e+07,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35565,20220831,G409433240,12508370.0,1.576500e+07,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35566,20220831,G409433240,12508370.0,6.576500e+07,NaN,PATRICK WILLIAM DUNCAN,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING

In [4]:
data.drop(['BASE DATE'], inplace=True, axis=1)

In [5]:
data.columns

Index(['GCIF', 'CIF', 'AMOUNT', 'ORIGIN ACCT NO', 'ORIGIN NAME', 'ORIGIN BANK',
       'BENEFICIARY ACCT NO', 'BENEFICIARY NAME', 'BENEFICIARY BANK', 'LoB',
       'TRX TYPE', 'IN/OUT'],
      dtype='object')

In [6]:
data

,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK,LoB,TRX TYPE,IN/OUT
0,G406240135,NaN,3.950000e+10,2.407001e+09,"ABC PRESIDENT INDONESIA, PT",BANK BII MAYBANK,001180967068,PT ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
1,G406240135,NaN,3.160000e+10,2.407001e+09,"ABC PRESIDENT INDONESIA, PT",BANK BII MAYBANK,001180967068,PT ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
2,G406240135,NaN,1.900000e+09,2.407001e+09,"ABC PRESIDENT INDONESIA, PT",BANK BII MAYBANK,001180967068,PT ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
3,G808537518,NaN,5.000000e+11,2.596003e+09,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,36479855,0,BANK DANAMON,GB,RTGS,OUTGOING
4,G808537518,NaN,3.169426e+10,NaN,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,NaN,BNP PARIBAS,"JP MORGAN CHASE, NY",GB,TT,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
35562,G503045999,6794289.0,5.000000e+05,NaN,SHELLY,BANK BCA,2002111888,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35563,G503045999,6794289.0,7.099200e+07,NaN,69966491 SD CITRA KASIH,BANK MALUKU MALUT,2093223000,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35564,G409433240,12508370.0,2.500000e+07,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35565,G409433240,12508370.0,1.576500e+07,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35566,G409433240,12508370.0,6.576500e+07,NaN,PATRICK WILLIAM DUNCAN,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING

In [7]:
#cleanse name values - origin name
data['ORIGIN NAME']=data['ORIGIN NAME'].str.upper()
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('PT',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('TBK',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('.',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('-',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace(',',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace("''"," ")
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('//',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('\s+',' ',regex=True)
data['ORIGIN NAME']=data['ORIGIN NAME'].str.strip()

<ipython-input-7-a20c479fbe60>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('.',' ')

In [8]:
#cleanse name values - benficiary name
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.upper()
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('PT',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('TBK',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('.',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('-',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace(',',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace("''"," ")
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('//',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('\s+',' ',regex=True)
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.strip()

<ipython-input-8-f370484ed1e1>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('.',' ')

In [9]:
data

,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK,LoB,TRX TYPE,IN/OUT
0,G406240135,NaN,3.950000e+10,2.407001e+09,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
1,G406240135,NaN,3.160000e+10,2.407001e+09,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
2,G406240135,NaN,1.900000e+09,2.407001e+09,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
3,G808537518,NaN,5.000000e+11,2.596003e+09,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,36479855,NaN,BANK DANAMON,GB,RTGS,OUTGOING
4,G808537518,NaN,3.169426e+10,NaN,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,NaN,BNP PARIBAS,"JP MORGAN CHASE, NY",GB,TT,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
35562,G503045999,6794289.0,5.000000e+05,NaN,SHELLY,BANK BCA,2002111888,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35563,G503045999,6794289.0,7.099200e+07,NaN,69966491 SD CITRA KASIH,BANK MALUKU MALUT,2093223000,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35564,G409433240,12508370.0,2.500000e+07,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35565,G409433240,12508370.0,1.576500e+07,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35566,G409433240,12508370.0,6.576500e+07,NaN,PATRICK WILLIAM DUNCAN,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING

In [10]:
dataInc = data[data['IN/OUT']=='INCOMING']
dataInc.columns = ['DEBTOR GCIF', 'DEBTOR CIF', 'AMOUNT_TX_IDR', 'SENDER/RECIPIENT ACCOUNT', 
'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK', 'DEBTOR ACCOUNT', 'DEBTOR NAME', 'DEBTOR BANK',
'LOB', 'CHANNEL','TYPE']

In [11]:
dataInc

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,LOB,CHANNEL,TYPE
8,G309796571,12852079.0,2000000.0,NaN,AGROMATE INTERNATIONAL E LTD,BANKÂ UOB INDONESIA,2596000412,AGROMATE INTERNATIONAL E LTD,BANK BII MAYBANK,GB,SKN,INCOMING
32,G200547461,2932158.0,675000.0,NaN,AGROTUNGGAL JAYAMANDIRI,BANK MANDIRI,2003070866,YAYASAN BUDDHA TZU CHI INDONESIA,BANK BII MAYBANK,RSME,SKN,INCOMING
33,G200547461,2932158.0,500000.0,NaN,AGROTUNGGAL JAYAMANDIRI,BANK MANDIRI,2003070866,YAYASAN BUDDHA TZU CHI INDONESIA,BANK BII MAYBANK,RSME,SKN,INCOMING
34,G200547461,2932158.0,500000.0,NaN,AGROTUNGGAL JAYAMANDIRI,BANK MANDIRI,2003070866,YAYASAN BUDDHA TZU CHI INDONESIA,BANK BII MAYBANK,RSME,SKN,INCOMING
35,G200547461,2932158.0,500000.0,NaN,AGROTUNGGAL JAYAMANDIRI,BANK MANDIRI,2003070866,YAYASAN BUDDHA TZU CHI INDONESIA,BANK BII MAYBANK,RSME,SKN,INCOMING
...,...,...,...,...,...,...,...,...,...,...,...,...
35562,G503045999,6794289.0,500000.0,NaN,SHELLY,BANK BCA,2002111888,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35563,G503045999,6794289.0,70992000.0,NaN,69966491 SD CITRA KASIH,BANK MALUKU MALUT,2093223000,YAYASAN CITRA BERKAT,BANK BII MAYBANK,GB,SKN,INCOMING
35564,G409433240,12508370.0,25000000.0,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35565,G409433240,12508370.0,15765000.0,NaN,GUNWANTI HARDASMAL K,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING
35566,G409433240,12508370.0,65765000.0,NaN,PATRICK WILLIAM DUNCAN,BANK BCA,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,GB,SKN,INCOMING

In [12]:
dataOut = data[data['IN/OUT']=='OUTGOING']
dataOut.columns = ['DEBTOR GCIF', 'DEBTOR CIF', 'AMOUNT_TX_IDR', 'DEBTOR ACCOUNT', 'DEBTOR NAME', 
'DEBTOR BANK', 'SENDER/RECIPIENT ACCOUNT', 'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK', 'LOB',
'CHANNEL', 'TYPE']

In [13]:
dataOut

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,CHANNEL,TYPE
0,G406240135,NaN,3.950000e+10,2.407001e+09,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
1,G406240135,NaN,3.160000e+10,2.407001e+09,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
2,G406240135,NaN,1.900000e+09,2.407001e+09,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
3,G808537518,NaN,5.000000e+11,2.596003e+09,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,36479855,NaN,BANK DANAMON,GB,RTGS,OUTGOING
4,G808537518,NaN,3.169426e+10,NaN,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,NaN,BNP PARIBAS,"JP MORGAN CHASE, NY",GB,TT,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
35227,G809640246,12701404.0,5.327200e+06,2.573000e+09,ENAK JAYA MAKMUR,BANK BII MAYBANK,3880149970,SO GOOD FOOD,BANK BCA,SME+,SKN,OUTGOING
35228,G809640246,12701404.0,4.352500e+06,2.573000e+09,ENAK JAYA MAKMUR,BANK BII MAYBANK,3880149970,SO GOOD FOOD,BANK BCA,SME+,SKN,OUTGOING
35229,G809640246,12701404.0,2.785500e+06,2.573000e+09,ENAK JAYA MAKMUR,BANK BII MAYBANK,3880149970,SO GOOD FOOD,BANK BCA,SME+,SKN,OUTGOING
35230,G809640246,12701404.0,1.148800e+06,2.573000e+09,ENAK JAYA MAKMUR,BANK BII MAYBANK,3880149970,SO GOOD FOOD,BANK BCA,SME+,SKN,OUTGOING
35355,G709296842,NaN,3.263733e+06,1.620620e+11,USAHAWISATA SAFARI EKSKURSI,BANK BII MAYBANK,0,WENANG PERMAI SENTOSA,BANK BNI,RSME,M2U,OUTGOING

In [14]:
data = pd.concat([dataOut, dataInc])

In [15]:
data['DEBTOR BANK'].value_counts()

BANK BII MAYBANK    35567
Name: DEBTOR BANK, dtype: int64

In [16]:
data

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,CHANNEL,TYPE
0,G406240135,NaN,3.950000e+10,2407000799.0,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
1,G406240135,NaN,3.160000e+10,2407000799.0,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
2,G406240135,NaN,1.900000e+09,2407000799.0,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,THE HONGKONG & SHANGHAI B.C. (BANK HSBC),GB,RTGS,OUTGOING
3,G808537518,NaN,5.000000e+11,2596003270.0,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,36479855,NaN,BANK DANAMON,GB,RTGS,OUTGOING
4,G808537518,NaN,3.169426e+10,NaN,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,NaN,BNP PARIBAS,"JP MORGAN CHASE, NY",GB,TT,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
35562,G503045999,6794289.0,5.000000e+05,2002111888,YAYASAN CITRA BERKAT,BANK BII MAYBANK,NaN,SHELLY,BANK BCA,GB,SKN,INCOMING
35563,G503045999,6794289.0,7.099200e+07,2093223000,YAYASAN CITRA BERKAT,BANK BII MAYBANK,NaN,69966491 SD CITRA KASIH,BANK MALUKU MALUT,GB,SKN,INCOMING
35564,G409433240,12508370.0,2.500000e+07,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,NaN,GUNWANTI HARDASMAL K,BANK BCA,GB,SKN,INCOMING
35565,G409433240,12508370.0,1.576500e+07,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,NaN,GUNWANTI HARDASMAL K,BANK BCA,GB,SKN,INCOMING
35566,G409433240,12508370.0,6.576500e+07,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,NaN,PATRICK WILLIAM DUNCAN,BANK BCA,GB,SKN,INCOMING

In [17]:
data['SENDER/RECIPIENT BANK']='EXTERNAL'

In [18]:
data.fillna('NO DATA', inplace=True)

In [19]:
data

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,CHANNEL,TYPE
0,G406240135,NO DATA,3.950000e+10,2407000799.0,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,EXTERNAL,GB,RTGS,OUTGOING
1,G406240135,NO DATA,3.160000e+10,2407000799.0,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,EXTERNAL,GB,RTGS,OUTGOING
2,G406240135,NO DATA,1.900000e+09,2407000799.0,ABC PRESIDENT INDONESIA,BANK BII MAYBANK,001180967068,ABC PRESIDENT INDONESIA,EXTERNAL,GB,RTGS,OUTGOING
3,G808537518,NO DATA,5.000000e+11,2596003270.0,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,36479855,NO DATA,EXTERNAL,GB,RTGS,OUTGOING
4,G808537518,NO DATA,3.169426e+10,NO DATA,ADIRA DINAMIKA MULTI FINANCE,BANK BII MAYBANK,NO DATA,BNP PARIBAS,EXTERNAL,GB,TT,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
35562,G503045999,6794289.0,5.000000e+05,2002111888,YAYASAN CITRA BERKAT,BANK BII MAYBANK,NO DATA,SHELLY,EXTERNAL,GB,SKN,INCOMING
35563,G503045999,6794289.0,7.099200e+07,2093223000,YAYASAN CITRA BERKAT,BANK BII MAYBANK,NO DATA,69966491 SD CITRA KASIH,EXTERNAL,GB,SKN,INCOMING
35564,G409433240,12508370.0,2.500000e+07,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,NO DATA,GUNWANTI HARDASMAL K,EXTERNAL,GB,SKN,INCOMING
35565,G409433240,12508370.0,1.576500e+07,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,NO DATA,GUNWANTI HARDASMAL K,EXTERNAL,GB,SKN,INCOMING
35566,G409433240,12508370.0,6.576500e+07,2016302989,YAY NORTH JAKARTA INTERNATIONAL SCHOOL,BANK BII MAYBANK,NO DATA,PATRICK WILLIAM DUNCAN,EXTERNAL,GB,SKN,INCOMING

In [22]:
gpd_data = data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK','LOB','TYPE'])['AMOUNT_TX_IDR'].agg(AMOUNT_TX_IDR = 'sum',TRX='count')

In [23]:
gpd_data.reset_index(inplace=True)

In [24]:
gpd_data

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,TYPE,AMOUNT_TX_IDR,TRX
0,G000455626,PERMATA ASRIGRIYA LESTARI,BANK BII MAYBANK,BANK RAYA INDONESIA,EXTERNAL,GB,INCOMING,2.703629e+06,3
1,G000457549,VIVAKARYA WISATAJAYA,BANK BII MAYBANK,BANK BJB KC TANGSEL,EXTERNAL,GB,INCOMING,2.047349e+07,3
2,G000466532,CI A HYDROPOWER ABADI,BANK BII MAYBANK,INDAH KIAT PULP AND PAPER,EXTERNAL,RSME,INCOMING,7.422500e+06,1
3,G000473942,BADE MAKMUR ORISSA,BANK BII MAYBANK,ASURANSI JIWA SINARMAS MSIG,EXTERNAL,RSME,OUTGOING,1.755000e+06,1
4,G000515353,INDOFICA,BANK BII MAYBANK,ANDAR PRATIWI,EXTERNAL,GB,OUTGOING,2.319800e+07,1
...,...,...,...,...,...,...,...,...,...
9534,NO DATA,TELEKOMUNIKASI SELULAR,BANK BII MAYBANK,TELEKOMUNIKASI SELULAR,EXTERNAL,GB,OUTGOING,1.386613e+08,3
9535,NO DATA,TOKIO MARINE LIFE INSURANCE INDO,BANK BII MAYBANK,TM USD MONEY MARKET FUND,EXTERNAL,GB,OUTGOING,3.716693e+09,2
9536,NO DATA,TORABIKA EKA SEMESTA,BANK BII MAYBANK,TORABIKA EKA SEMESTA,EXTERNAL,GB,INCOMING,2.968500e+10,1
9537,NO DATA,TORABIKA EKA SEMESTA,BANK BII MAYBANK,TORABIKA EKA SEMESTA,EXTERNAL,GB,OUTGOING,2.227069e+11,2
9538,NO DATA,ZURICH ASURANSI INDONESIA,BANK BII MAYBANK,ZURICH ASURANSI I USD,EXTERNAL,GB,OUTGOING,1.484937e+10,1

In [ ]:
gpd_data.to_excel('GB GPD.xlsx', index=False)

# GPD 2

In [3]:
data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\GB Request\GB GPD.xlsx', sheet_name='GB GCIF Only')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DEBTOR GCIF            954 non-null    object
 1   DEBTOR NAME            954 non-null    object
 2   DEBTOR BANK            954 non-null    object
 3   SENDER/RECIPIENT NAME  954 non-null    object
 4   SENDER/RECIPIENT BANK  954 non-null    object
 5   LOB                    954 non-null    object
 6   TYPE                   954 non-null    object
 7   AMOUNT_TX_IDR          954 non-null    float64
 8   TRX                    954 non-null    int64
 9   Sender/Recipient Name  954 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 74.7+ KB

In [5]:
data.columns

Index(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'TYPE', 'AMOUNT_TX_IDR', 'TRX',
       'Sender/Recipient Name'],
      dtype='object')

In [6]:
data = data[['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'TYPE', 'AMOUNT_TX_IDR', 'TRX']]

In [7]:
data_gpd = data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'TYPE']).agg({'AMOUNT_TX_IDR':'sum','TRX':'sum'})

In [8]:
data_gpd.reset_index(inplace=True)

In [9]:
data_gpd

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,TYPE,AMOUNT_TX_IDR,TRX
0,G000814871,METALOGIC INFOMITRA,BANK BII MAYBANK,MULIA INTIPELANGI,EXTERNAL,RSME,INCOMING,3.105520e+07,5
1,G001295682,BANK DANAMON INDONESIA,BANK BII MAYBANK,NO DATA,EXTERNAL,GB,OUTGOING,6.123469e+10,1
2,G001817055,KARMA BALI INDONESIA,BANK BII MAYBANK,TELEKOMUNIKASI SELULAR,EXTERNAL,RSME,INCOMING,9.823323e+06,3
3,G002973899,KALTIM ARWANA LESTARI,BANK BII MAYBANK,BPJS KESEHATAN,EXTERNAL,GB,OUTGOING,7.468500e+06,23
4,G002973899,KALTIM ARWANA LESTARI,BANK BII MAYBANK,BPJS KETENAGAKERJAAN,EXTERNAL,GB,OUTGOING,1.604234e+07,23
...,...,...,...,...,...,...,...,...,...
949,G908531692,KARYA TEHNIK BISNIS UNIT,BANK BII MAYBANK,INDOSAT,EXTERNAL,BB,OUTGOING,2.935650e+05,1
950,G909296204,KIKEBA BAHANA BUKOPIN KREDIT PENSIUNAN I,BANK BII MAYBANK,NO DATA,EXTERNAL,GB,OUTGOING,5.898111e+10,1
951,G909664344,RDST PNM TERPROTEKSI INVESTA 40,BANK BII MAYBANK,NO DATA,EXTERNAL,GB,INCOMING,7.500000e+11,1
952,NO DATA,INDOSAT,BANK BII MAYBANK,INDOSAT,EXTERNAL,GB,OUTGOING,1.003847e+08,1
953,NO DATA,TELEKOMUNIKASI SELULAR,BANK BII MAYBANK,TELEKOMUNIKASI SELULAR,EXTERNAL,GB,OUTGOING,1.386613e+08,3

# Trans ID, Entity ID

In [10]:
current_data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\GB Request\GB GPD.xlsx', sheet_name='GB GCIF Only')

In [11]:
list_entity=current_data['DEBTOR NAME'].values.tolist()
list_entity+=current_data['SENDER/RECIPIENT NAME'].values.tolist()
list_entity=pd.DataFrame({
    'ENTITY NAME':list_entity
})
list_entity=list_entity.drop_duplicates(keep='first')

In [12]:
list_entity

                      ENTITY NAME
0             METALOGIC INFOMITRA
1          BANK DANAMON INDONESIA
2            KARMA BALI INDONESIA
3           KALTIM ARWANA LESTARI
6       MATAHARI DEPARTMENT STORE
...                           ...
1883                    PRATIKNYO
1884          PRIMACOM INTERBUANA
1885  SITI MUNA A BINTI A MARICAR
1886                SUNG KOOK KIM
1890               WIRYANTORO N K

[840 rows x 1 columns]

In [13]:
list_entity.loc[list_entity['ENTITY NAME'].str.contains('AVOLON')]

Empty DataFrame
Columns: [ENTITY NAME]
Index: []

In [14]:
entity_DEBTOR=list(set(current_data['DEBTOR NAME']))
all_entity=list_entity['ENTITY NAME'].values.tolist()
sr_entity_data=[]
for name in all_entity:
    placeholder=''
    as_DEBTOR=current_data.loc[current_data['DEBTOR NAME']==name]
    as_other  =current_data.loc[current_data['SENDER/RECIPIENT NAME']==name]
    
    #if in DEBTOR, incoming -> receiver with Maybank bank, outgoing -> sender with Maybank bank
    if len(as_DEBTOR)!=0: #pernah menjadi customer maybank
        if 'INCOMING' in as_DEBTOR['TYPE'].values and 'OUTGOING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Both',as_DEBTOR['DEBTOR BANK'].iloc[0]])
        elif 'INCOMING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Receiver',as_DEBTOR['DEBTOR BANK'].iloc[0]])
        elif 'OUTGOING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Sender',as_DEBTOR['DEBTOR BANK'].iloc[0]])
    
    #if in sender/recipient, incoming -> sender with SR bank name, outgoing -> recipient with SR bank name
    if len(as_other)!=0: #pernah transaksi dgn rek Maybank sebagai nasabah bank lain
        sr_bank_names=list(set(as_other['SENDER/RECIPIENT BANK']))
        for bank in sr_bank_names:
            as_other_bank=as_other.loc[as_other['SENDER/RECIPIENT BANK']==bank]
            if 'INCOMING' in as_other_bank['TYPE'].values and 'OUTGOING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Both',bank])
            elif 'INCOMING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Sender',bank])
            elif 'OUTGOING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Receiver',bank])

sr_entity_df=pd.DataFrame(sr_entity_data,columns=['NAME','DIRECTION','BANK'])
sr_entity_df

                            NAME DIRECTION              BANK
0            METALOGIC INFOMITRA  Receiver  BANK BII MAYBANK
1         BANK DANAMON INDONESIA    Sender  BANK BII MAYBANK
2           KARMA BALI INDONESIA  Receiver  BANK BII MAYBANK
3          KALTIM ARWANA LESTARI    Sender  BANK BII MAYBANK
4      MATAHARI DEPARTMENT STORE    Sender  BANK BII MAYBANK
..                           ...       ...               ...
851                    PRATIKNYO  Receiver          EXTERNAL
852          PRIMACOM INTERBUANA    Sender          EXTERNAL
853  SITI MUNA A BINTI A MARICAR  Receiver          EXTERNAL
854                SUNG KOOK KIM  Receiver          EXTERNAL
855               WIRYANTORO N K  Receiver          EXTERNAL

[856 rows x 3 columns]

In [15]:
sr_entity_df.loc[sr_entity_df['NAME'].str.contains('AVOLON')]

Empty DataFrame
Columns: [NAME, DIRECTION, BANK]
Index: []

In [16]:
#merge gcif
gcif_copying=current_data[['DEBTOR NAME','DEBTOR GCIF']]
gcif_copying.columns=['NAME','GCIF']

sr_entity_df=sr_entity_df.merge(gcif_copying,on='NAME',how='left')
sr_entity_df=sr_entity_df.fillna('External')

sr_entity_df=sr_entity_df.drop_duplicates()
sr_entity_df

                             NAME DIRECTION              BANK        GCIF
0             METALOGIC INFOMITRA  Receiver  BANK BII MAYBANK  G000814871
1          BANK DANAMON INDONESIA    Sender  BANK BII MAYBANK  G001295682
2            KARMA BALI INDONESIA  Receiver  BANK BII MAYBANK  G001817055
3           KALTIM ARWANA LESTARI    Sender  BANK BII MAYBANK  G002973899
6       MATAHARI DEPARTMENT STORE    Sender  BANK BII MAYBANK  G003842606
...                           ...       ...               ...         ...
1964                    PRATIKNYO  Receiver          EXTERNAL    External
1965          PRIMACOM INTERBUANA    Sender          EXTERNAL    External
1966  SITI MUNA A BINTI A MARICAR  Receiver          EXTERNAL    External
1967                SUNG KOOK KIM  Receiver          EXTERNAL    External
1968               WIRYANTORO N K  Receiver          EXTERNAL    External

[859 rows x 4 columns]

In [17]:
row=[sr_entity_df.iloc[0]['NAME'],sr_entity_df.iloc[0]['DIRECTION'],sr_entity_df.iloc[0]['BANK']]
'MAYBANK' in row[2]

True

In [18]:
#'MBI Out','MBI In','MBI Both','Non-MBI Out','Non-MBI In','Non-MBI Both'),
# color=c("#3333ff","#00bf30","orange","#685b5b","#c071f1","#ff0000"))
final_entity_df=[]
for i in range(len(sr_entity_df)):
    row=sr_entity_df.iloc[i]
    row=[row['NAME'],row['DIRECTION'],row['BANK'],row['GCIF']
         #,row['LOB']
        ]
    
    #row color (based on internal/external)
    if 'MAYBANK' in row[2]: #internal
        if row[1]=='Both':
            row+=['MBI Both','orange']
        elif row[1]=='Receiver':
            row+=['MBI In','#00bf30']
        else:
            row+=['MBI Out','#3333ff']
    else:
        if row[1]=='Both':
            row+=['Non-MBI Both','#ff0000']
        elif row[1]=='Receiver':
            row+=['Non-MBI In','#c071f1']
        else:
            row+=['Non-MBI Out','#685b5b']
    
    #row shape (semuanya dot) -> uncomment if needed
    row+=['dot']
    #row shape (tergantung lob) -> uncomment if needed
    #if row[4] == 'Consumer':
    #    row+=['square']
    #elif row[4] == 'RSME':
    #    row+=['triangle']
    #elif row[4] == 'SME+':
    #    row+=['triangleDown']
    #elif row[4] == 'Corporate':
    #    row+=['star']
    #elif row[4] == 'Commercial (BB)':
    #    row+=['diamond']
    #else :
    #    row+=['dot']

    
    #row id (tambahin i)
    row+=[i]
    
    #append
    final_entity_df.append(row)
    
final_entity_df=pd.DataFrame(final_entity_df,
                             columns=['ENTITY','DIRECTION','SOURCE','GCIF',
                                      #'LOB',
                                      'TYPE','COLOR','SHAPE','ID'])
final_entity_df=final_entity_df.drop_duplicates()
final_entity_df

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID
0,METALOGIC INFOMITRA,Receiver,BANK BII MAYBANK,G000814871,MBI In,#00bf30,dot,0
1,BANK DANAMON INDONESIA,Sender,BANK BII MAYBANK,G001295682,MBI Out,#3333ff,dot,1
2,KARMA BALI INDONESIA,Receiver,BANK BII MAYBANK,G001817055,MBI In,#00bf30,dot,2
3,KALTIM ARWANA LESTARI,Sender,BANK BII MAYBANK,G002973899,MBI Out,#3333ff,dot,3
4,MATAHARI DEPARTMENT STORE,Sender,BANK BII MAYBANK,G003842606,MBI Out,#3333ff,dot,4
...,...,...,...,...,...,...,...,...
854,PRATIKNYO,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,854
855,PRIMACOM INTERBUANA,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,855
856,SITI MUNA A BINTI A MARICAR,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,856
857,SUNG KOOK KIM,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,857
858,WIRYANTORO N K,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,858

In [19]:
final_entity_df.loc[final_entity_df['ENTITY'].str.contains('GATEWAY CONTAINER LINE')]

Empty DataFrame
Columns: [ENTITY, DIRECTION, SOURCE, GCIF, TYPE, COLOR, SHAPE, ID]
Index: []

In [20]:
trans_id=[]
for i in range(len(current_data)):
    row=current_data.iloc[i]
    
    if row['TYPE']=='INCOMING': #DEBTOR nerima, sr ngirim
        trans_id.append([row['SENDER/RECIPIENT NAME'],row['SENDER/RECIPIENT BANK'],
                         row['DEBTOR NAME'],row['DEBTOR BANK'],
                         row['AMOUNT_TX_IDR'],row['TRX']])
    else: #DEBTOR ngirim, sr nerima
        trans_id.append([row['DEBTOR NAME'],row['DEBTOR BANK'],
                         row['SENDER/RECIPIENT NAME'],row['SENDER/RECIPIENT BANK'],
                         row['AMOUNT_TX_IDR'],row['TRX']])
    
#create trans_df
trans_id=pd.DataFrame(trans_id,columns=['FROM_ENTITY','FROM_SOURCE','TO_ENTITY','TO_SOURCE','AMOUNT_TX_IDR','TRX'])

#get FROM_ID using entity data
temp=final_entity_df[['ENTITY','SOURCE','ID']].copy()
temp.columns=['FROM_ENTITY','FROM_SOURCE','FROM_ID']
trans_id=trans_id.merge(temp,on=['FROM_ENTITY','FROM_SOURCE'],how='left')

#get TO_ID using entity data
temp=final_entity_df[['ENTITY','SOURCE','ID']].copy()
temp.columns=['TO_ENTITY','TO_SOURCE','TO_ID']
trans_id=trans_id.merge(temp,on=['TO_ENTITY','TO_SOURCE'],how='left')

#trans_id=trans_id[['FROM_ID','TO_ID','AMOUNT_TX_IDR']]
trans_id=trans_id.drop_duplicates()
trans_id

,FROM_ENTITY,FROM_SOURCE,TO_ENTITY,TO_SOURCE,AMOUNT_TX_IDR,TRX,FROM_ID,TO_ID
0,MULIA INTIPELANGI,EXTERNAL,METALOGIC INFOMITRA,BANK BII MAYBANK,3.105520e+07,5,159,0
1,BANK DANAMON INDONESIA,BANK BII MAYBANK,NO DATA,EXTERNAL,6.123469e+10,1,1,190
2,TELEKOMUNIKASI SELULAR,EXTERNAL,KARMA BALI INDONESIA,BANK BII MAYBANK,9.823323e+06,3,189,2
3,KALTIM ARWANA LESTARI,BANK BII MAYBANK,BPJS KESEHATAN,EXTERNAL,7.468500e+06,23,3,191
4,KALTIM ARWANA LESTARI,BANK BII MAYBANK,BPJS KETENAGAKERJAAN,EXTERNAL,1.604234e+07,23,3,192
...,...,...,...,...,...,...,...,...
978,INDOSAT,BANK BII MAYBANK,INDOSAT,EXTERNAL,1.003847e+08,1,93,95
979,INDOSAT,BANK BII MAYBANK,INDOSAT,EXTERNAL,1.003847e+08,1,93,96
980,INDOSAT,BANK BII MAYBANK,INDOSAT,EXTERNAL,1.003847e+08,1,94,95
981,INDOSAT,BANK BII MAYBANK,INDOSAT,EXTERNAL,1.003847e+08,1,94,96
982,TELEKOMUNIKASI SELULAR,BANK BII MAYBANK,TELEKOMUNIKASI SELULAR,EXTERNAL,1.386613e+08,3,188,189

In [21]:
#create initial size
size_amount=[]
size_count=[]
size_chain=[]
for name in final_entity_df['ID'].values:
    curr_agg=trans_id.loc[(trans_id['FROM_ID']==name)|(trans_id['TO_ID']==name)]
    size_amount.append(sum(curr_agg['AMOUNT_TX_IDR']))
    size_count.append(sum(curr_agg['TRX']))
    size_chain.append(len(curr_agg))

final_entity_df['ORIG_AMOUNT']=size_amount
final_entity_df['ORIG_COUNT']=size_count
final_entity_df['ORIG_CHAIN']=size_chain

final_entity_df['SIZE_AMOUNT']=[1 if i<=1 else i for i in size_amount]
final_entity_df['SIZE_COUNT']=[1 if i<=1 else i for i in size_count]
final_entity_df['SIZE_CHAIN']=[1 if i<=1 else i for i in size_chain]

#create individual flags
final_entity_df['FLAG_AMT']=final_entity_df['SIZE_AMOUNT'].apply(lambda x: 'high amt' if x>=34 else 'low amt')
final_entity_df['FLAG_TRX']=final_entity_df['SIZE_COUNT'].apply(lambda x: 'high freq' if x>=4 else 'low freq')
final_entity_df['FLAG_CHAIN']=final_entity_df['SIZE_CHAIN'].apply(lambda x: 'high chain' if x>=10 else 'low chain')

#create final filter
final_filter=[]
simplified=[]
for i in range(len(final_entity_df)):
    row=final_entity_df.iloc[i]
    curr_filter=''
    
    #final filter
    if row['FLAG_AMT']=='high amt':
        curr_filter+='high amt, '
    if row['FLAG_TRX']=='high freq':
        curr_filter+='high freq, '
    if row['FLAG_CHAIN']=='high chain':
        curr_filter+='high chain, '
    if curr_filter=='':
        curr_filter='low, '
    
    #simplified view
    if row['SIZE_CHAIN']>=2:
        curr_filter+='full'
        simplified.append('full')
    else:
        simplified.append('full')
        
    #remove trailing comma and whitespace
    curr_filter=curr_filter.rstrip(' ')
    curr_filter=curr_filter.rstrip(',')
    
    #append
    final_filter.append(curr_filter+'')

final_entity_df['FILTER']=final_filter
final_entity_df['SIMPLIFIED']=simplified
#final_entity_df['FLAG_LOB']=final_entity_df['LOB']+', '+final_entity_df['SIMPLIFIED']

In [22]:
final_entity_df

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID,ORIG_AMOUNT,ORIG_COUNT,ORIG_CHAIN,SIZE_AMOUNT,SIZE_COUNT,SIZE_CHAIN,FLAG_AMT,FLAG_TRX,FLAG_CHAIN,FILTER,SIMPLIFIED
0,METALOGIC INFOMITRA,Receiver,BANK BII MAYBANK,G000814871,MBI In,#00bf30,dot,0,3.105520e+07,5,1,3.105520e+07,5,1,high amt,high freq,low chain,"high amt, high freq",full
1,BANK DANAMON INDONESIA,Sender,BANK BII MAYBANK,G001295682,MBI Out,#3333ff,dot,1,6.123469e+10,1,1,6.123469e+10,1,1,high amt,low freq,low chain,high amt,full
2,KARMA BALI INDONESIA,Receiver,BANK BII MAYBANK,G001817055,MBI In,#00bf30,dot,2,9.823323e+06,3,1,9.823323e+06,3,1,high amt,low freq,low chain,high amt,full
3,KALTIM ARWANA LESTARI,Sender,BANK BII MAYBANK,G002973899,MBI Out,#3333ff,dot,3,2.408294e+07,47,3,2.408294e+07,47,3,high amt,high freq,low chain,"high amt, high freq, full",full
4,MATAHARI DEPARTMENT STORE,Sender,BANK BII MAYBANK,G003842606,MBI Out,#3333ff,dot,4,3.136210e+08,14,1,3.136210e+08,14,1,high amt,high freq,low chain,"high amt, high freq",full
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,PRATIKNYO,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,854,6.250000e+07,1,1,6.250000e+07,1,1,high amt,low freq,low chain,high amt,full
855,PRIMACOM INTERBUANA,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,855,4.890000e+07,3,1,4.890000e+07,3,1,high amt,low freq,low chain,high amt,full
856,SITI MUNA A BINTI A MARICAR,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,856,5.715500e+07,1,1,5.715500e+07,1,1,high amt,low freq,low chain,high amt,full
857,SUNG KOOK KIM,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,857,4.919200e+08,1,1,4.919200e+08,1,1,high amt,low freq,low chain,high amt,full
858,WIRYANTORO N K,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,858,5.000000e+07,1,1,5.000000e+07,1,1,high amt,low freq,low chain,high amt,full

In [ ]:
final_entity_df.to_csv('GB_entity_id.csv')
trans_id.to_csv('GB_trans_id.csv')