In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\BB Request\BB Dataset.xlsx', sheet_name='BB Only')

In [3]:
data

,BASE DATE,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK,LoB,REGION,FUNDING/LENDING,TRX TYPE,IN/OUT,Unnamed: 15
0,2022-08-03 00:00:00,G000456624,NaN,1.425000e+09,2.016302e+09,"SUMMARECON AGUNG TBK, PT",BANK BII MAYBANK,0701427009,PT SUMMARECON AGUNG,PERMATA BANK,BB,JAKARTA 2,Funding,RTGS,OUTGOING,NaN
1,2022-08-11 00:00:00,G000640193,NaN,1.000000e+09,2.006029e+09,"SURAPANDANG, PT",BANK BII MAYBANK,2066770998,PT SWALLOW GLOBE INDONESIA,BANK BCA,BB,SULAWESI & IBT,Lending,RTGS,OUTGOING,NaN
2,2022-08-15 00:00:00,G000679126,NaN,5.880000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,162003012060,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING,NaN
3,2022-08-15 00:00:00,G000679126,NaN,1.965000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING,NaN
4,2022-08-15 00:00:00,G000679126,NaN,1.965000e+06,1.620040e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191311,NaN,G505093435,NaN,2.675720e+08,NaN,ZANMEI TRAVEL LIMITED,HSBC BANK USA,NaN,PT MITRA GLOBAL HOLIDAY,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING,NaN
191312,NaN,G209417484,NaN,6.100119e+09,NaN,ZEAL TRADING FZ LLC,CITIBANK N.A,NaN,PT LANDASAN SURYA TEKNIK MUTIARA TA,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING,NaN
191313,NaN,G007262892,NaN,2.541986e+08,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",NaN,PT. MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING,NaN
191314,NaN,G007262892,NaN,2.702570e+08,NaN,ZOMEL MARKETING SDN. BHD.,"JPMORGAN CHASE BANK, N.A.",NaN,PT.MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING,NaN
191315,NaN,G009025529,NaN,3.533640e+07,NaN,ZUTTORIDE CORPORATION,"CITIBANK N.A., TOKYO BRANCH",NaN,PT.LOGIQUE DIGITAL INDONESIA GD AD,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING,NaN

In [4]:
data.drop(['BASE DATE', 'Unnamed: 15'], inplace=True, axis=1)

In [5]:
data

,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK,LoB,REGION,FUNDING/LENDING,TRX TYPE,IN/OUT
0,G000456624,NaN,1.425000e+09,2.016302e+09,"SUMMARECON AGUNG TBK, PT",BANK BII MAYBANK,0701427009,PT SUMMARECON AGUNG,PERMATA BANK,BB,JAKARTA 2,Funding,RTGS,OUTGOING
1,G000640193,NaN,1.000000e+09,2.006029e+09,"SURAPANDANG, PT",BANK BII MAYBANK,2066770998,PT SWALLOW GLOBE INDONESIA,BANK BCA,BB,SULAWESI & IBT,Lending,RTGS,OUTGOING
2,G000679126,NaN,5.880000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,162003012060,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
3,G000679126,NaN,1.965000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
4,G000679126,NaN,1.965000e+06,1.620040e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191311,G505093435,NaN,2.675720e+08,NaN,ZANMEI TRAVEL LIMITED,HSBC BANK USA,NaN,PT MITRA GLOBAL HOLIDAY,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
191312,G209417484,NaN,6.100119e+09,NaN,ZEAL TRADING FZ LLC,CITIBANK N.A,NaN,PT LANDASAN SURYA TEKNIK MUTIARA TA,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
191313,G007262892,NaN,2.541986e+08,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",NaN,PT. MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191314,G007262892,NaN,2.702570e+08,NaN,ZOMEL MARKETING SDN. BHD.,"JPMORGAN CHASE BANK, N.A.",NaN,PT.MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191315,G009025529,NaN,3.533640e+07,NaN,ZUTTORIDE CORPORATION,"CITIBANK N.A., TOKYO BRANCH",NaN,PT.LOGIQUE DIGITAL INDONESIA GD AD,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING

In [6]:
#cleanse name values - origin name
data['ORIGIN NAME']=data['ORIGIN NAME'].str.upper()
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('PT',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('TBK',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('.',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('-',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace(',',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace("''"," ")
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('//',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('\s+',' ',regex=True)
data['ORIGIN NAME']=data['ORIGIN NAME'].str.strip()

<ipython-input-6-a20c479fbe60>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('.',' ')

In [7]:
#cleanse name values - benficiary name
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.upper()
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('PT',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('TBK',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('.',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('-',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace(',',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace("''"," ")
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('//',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('\s+',' ',regex=True)
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.strip()

<ipython-input-7-f370484ed1e1>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('.',' ')

In [8]:
data

,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK,LoB,REGION,FUNDING/LENDING,TRX TYPE,IN/OUT
0,G000456624,NaN,1.425000e+09,2.016302e+09,SUMMARECON AGUNG,BANK BII MAYBANK,0701427009,SUMMARECON AGUNG,PERMATA BANK,BB,JAKARTA 2,Funding,RTGS,OUTGOING
1,G000640193,NaN,1.000000e+09,2.006029e+09,SURAPANDANG,BANK BII MAYBANK,2066770998,SWALLOW GLOBE INDONESIA,BANK BCA,BB,SULAWESI & IBT,Lending,RTGS,OUTGOING
2,G000679126,NaN,5.880000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,162003012060,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
3,G000679126,NaN,1.965000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
4,G000679126,NaN,1.965000e+06,1.620040e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191311,G505093435,NaN,2.675720e+08,NaN,ZANMEI TRAVEL LIMITED,HSBC BANK USA,NaN,MITRA GLOBAL HOLIDAY,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
191312,G209417484,NaN,6.100119e+09,NaN,ZEAL TRADING FZ LLC,CITIBANK N.A,NaN,LANDASAN SURYA TEKNIK MUTIARA TA,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
191313,G007262892,NaN,2.541986e+08,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",NaN,MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191314,G007262892,NaN,2.702570e+08,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",NaN,MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191315,G009025529,NaN,3.533640e+07,NaN,ZUTTORIDE CORPORATION,"CITIBANK N.A., TOKYO BRANCH",NaN,LOGIQUE DIGITAL INDONESIA GD AD,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING

In [9]:
dataInc = data[data['IN/OUT']=='INCOMING']
dataInc.columns = ['DEBTOR GCIF', 'DEBTOR CIF', 'AMOUNT_TX_IDR', 'SENDER/RECIPIENT ACCOUNT', 
'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK', 'DEBTOR ACCOUNT', 'DEBTOR NAME', 'DEBTOR BANK',
'LOB', 'REGION' , 'FUNDING/LENDING', 'CHANNEL','TYPE']

In [10]:
dataInc

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,LOB,REGION,FUNDING/LENDING,CHANNEL,TYPE
53210,G609358825,NaN,2.141600e+07,NaN,0 FIELDS FACTORY CO LTD,"CITIBANK N.A., TOKYO BRANCH",NaN,10 FIELDS FACTORY CO LTD,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
53211,G309595312,NaN,7.489950e+08,NaN,888 PAPER E LTD,"JPMORGAN CHASE BANK, N.A.",NaN,CV PUTRA UTAMA JAYA,BANK BII MAYBANK,BB,JAKARTA 3,Funding,TT,INCOMING
53212,G002911824,NaN,4.448965e+08,NaN,ABDULMAJED ABDULWASE SAIF GROUP,"JPMORGAN CHASE BANK, N.A.",NaN,POLA MANUNGGAL SEJATI,BANK BII MAYBANK,BB,JAWA BARAT,Lending,TT,INCOMING
53213,G002911824,NaN,2.689194e+08,NaN,ABDULMAJED ABDULWASE SAIF GROUP,CITIBANK N.A,NaN,POLA MANUNGGAL SEJATI,BANK BII MAYBANK,BB,JAWA BARAT,Lending,TT,INCOMING
53214,G407379957,NaN,1.632675e+07,NaN,ADI INTI MANDIRI SOLUSI,BANK BCA,NaN,ADI INTI MANDIRI SOLUSI,BANK BII MAYBANK,RSME,ALL,Both,TT,INCOMING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191311,G505093435,NaN,2.675720e+08,NaN,ZANMEI TRAVEL LIMITED,HSBC BANK USA,NaN,MITRA GLOBAL HOLIDAY,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
191312,G209417484,NaN,6.100119e+09,NaN,ZEAL TRADING FZ LLC,CITIBANK N.A,NaN,LANDASAN SURYA TEKNIK MUTIARA TA,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING
191313,G007262892,NaN,2.541986e+08,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",NaN,MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191314,G007262892,NaN,2.702570e+08,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",NaN,MANOHARA ASRI,BANK BII MAYBANK,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191315,G009025529,NaN,3.533640e+07,NaN,ZUTTORIDE CORPORATION,"CITIBANK N.A., TOKYO BRANCH",NaN,LOGIQUE DIGITAL INDONESIA GD AD,BANK BII MAYBANK,BB,JAKARTA 1,Funding,TT,INCOMING

In [11]:
dataOut = data[data['IN/OUT']=='OUTGOING']
dataOut.columns = ['DEBTOR GCIF', 'DEBTOR CIF', 'AMOUNT_TX_IDR', 'DEBTOR ACCOUNT', 'DEBTOR NAME', 
'DEBTOR BANK', 'SENDER/RECIPIENT ACCOUNT', 'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK', 'LOB',
'REGION', 'FUNDING/LENDING', 'CHANNEL', 'TYPE']

In [12]:
dataOut

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,CHANNEL,TYPE
0,G000456624,NaN,1.425000e+09,2.016302e+09,SUMMARECON AGUNG,BANK BII MAYBANK,0701427009,SUMMARECON AGUNG,PERMATA BANK,BB,JAKARTA 2,Funding,RTGS,OUTGOING
1,G000640193,NaN,1.000000e+09,2.006029e+09,SURAPANDANG,BANK BII MAYBANK,2066770998,SWALLOW GLOBE INDONESIA,BANK BCA,BB,SULAWESI & IBT,Lending,RTGS,OUTGOING
2,G000679126,NaN,5.880000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,162003012060,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
3,G000679126,NaN,1.965000e+06,1.610049e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
4,G000679126,NaN,1.965000e+06,1.620040e+11,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191303,G300928207,NaN,8.267272e+08,NaN,YORKSHIRE INDONESIA,BANK BII MAYBANK,NaN,RICH CHEMICALS GROUP HONGKONG,CITIBANK,BB,JAWA BARAT,Funding,TT,OUTGOING
191304,G300928207,NaN,8.311800e+07,NaN,YORKSHIRE INDONESIA,BANK BII MAYBANK,NaN,SAMBANG ENTERPRISE CO,CITIBANK,BB,JAWA BARAT,Funding,TT,OUTGOING
191305,G109003277,NaN,3.212400e+07,NaN,YOSHIWADA INDONESIA,BANK BII MAYBANK,NaN,KGK CO LTD,"STANCHART, TOKYO",BB,JAKARTA 3,Funding,TT,OUTGOING
191306,G109003277,NaN,1.606200e+07,NaN,YOSHIWADA INDONESIA,BANK BII MAYBANK,NaN,MASAHIRO NAGAFUJI,"STANCHART, TOKYO",BB,JAKARTA 3,Funding,TT,OUTGOING
191307,G109003277,NaN,7.286366e+07,NaN,YOSHIWADA INDONESIA,BANK BII MAYBANK,NaN,YOSHIWADA HAMAMATSU CO LTD,"STANCHART, TOKYO",BB,JAKARTA 3,Funding,TT,OUTGOING

In [13]:
data = pd.concat([dataOut, dataInc])

In [14]:
data['DEBTOR BANK'].value_counts()

BANK BII MAYBANK    191316
Name: DEBTOR BANK, dtype: int64

In [15]:
data

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,CHANNEL,TYPE
0,G000456624,NaN,1.425000e+09,2016301778.0,SUMMARECON AGUNG,BANK BII MAYBANK,0701427009,SUMMARECON AGUNG,PERMATA BANK,BB,JAKARTA 2,Funding,RTGS,OUTGOING
1,G000640193,NaN,1.000000e+09,2006028862.0,SURAPANDANG,BANK BII MAYBANK,2066770998,SWALLOW GLOBE INDONESIA,BANK BCA,BB,SULAWESI & IBT,Lending,RTGS,OUTGOING
2,G000679126,NaN,5.880000e+06,161004876356.0,BUDIMAN,BANK BII MAYBANK,162003012060,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
3,G000679126,NaN,1.965000e+06,161004876356.0,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
4,G000679126,NaN,1.965000e+06,162004013525.0,BUDIMAN,BANK BII MAYBANK,0,NaN,BANK BII MAYBANK,RSME,ALL,Both,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191311,G505093435,NaN,2.675720e+08,NaN,MITRA GLOBAL HOLIDAY,BANK BII MAYBANK,NaN,ZANMEI TRAVEL LIMITED,HSBC BANK USA,BB,JAKARTA 1,Funding,TT,INCOMING
191312,G209417484,NaN,6.100119e+09,NaN,LANDASAN SURYA TEKNIK MUTIARA TA,BANK BII MAYBANK,NaN,ZEAL TRADING FZ LLC,CITIBANK N.A,BB,JAKARTA 1,Funding,TT,INCOMING
191313,G007262892,NaN,2.541986e+08,NaN,MANOHARA ASRI,BANK BII MAYBANK,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191314,G007262892,NaN,2.702570e+08,NaN,MANOHARA ASRI,BANK BII MAYBANK,NaN,ZOMEL MARKETING SDN BHD,"JPMORGAN CHASE BANK, N.A.",BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191315,G009025529,NaN,3.533640e+07,NaN,LOGIQUE DIGITAL INDONESIA GD AD,BANK BII MAYBANK,NaN,ZUTTORIDE CORPORATION,"CITIBANK N.A., TOKYO BRANCH",BB,JAKARTA 1,Funding,TT,INCOMING

In [16]:
data['SENDER/RECIPIENT BANK']='EXTERNAL'

In [17]:
data.fillna('NO DATA', inplace=True)

In [18]:
data

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,CHANNEL,TYPE
0,G000456624,NO DATA,1.425000e+09,2016301778.0,SUMMARECON AGUNG,BANK BII MAYBANK,0701427009,SUMMARECON AGUNG,EXTERNAL,BB,JAKARTA 2,Funding,RTGS,OUTGOING
1,G000640193,NO DATA,1.000000e+09,2006028862.0,SURAPANDANG,BANK BII MAYBANK,2066770998,SWALLOW GLOBE INDONESIA,EXTERNAL,BB,SULAWESI & IBT,Lending,RTGS,OUTGOING
2,G000679126,NO DATA,5.880000e+06,161004876356.0,BUDIMAN,BANK BII MAYBANK,162003012060,NO DATA,EXTERNAL,RSME,ALL,Both,M2U,OUTGOING
3,G000679126,NO DATA,1.965000e+06,161004876356.0,BUDIMAN,BANK BII MAYBANK,0,NO DATA,EXTERNAL,RSME,ALL,Both,M2U,OUTGOING
4,G000679126,NO DATA,1.965000e+06,162004013525.0,BUDIMAN,BANK BII MAYBANK,0,NO DATA,EXTERNAL,RSME,ALL,Both,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191311,G505093435,NO DATA,2.675720e+08,NO DATA,MITRA GLOBAL HOLIDAY,BANK BII MAYBANK,NO DATA,ZANMEI TRAVEL LIMITED,EXTERNAL,BB,JAKARTA 1,Funding,TT,INCOMING
191312,G209417484,NO DATA,6.100119e+09,NO DATA,LANDASAN SURYA TEKNIK MUTIARA TA,BANK BII MAYBANK,NO DATA,ZEAL TRADING FZ LLC,EXTERNAL,BB,JAKARTA 1,Funding,TT,INCOMING
191313,G007262892,NO DATA,2.541986e+08,NO DATA,MANOHARA ASRI,BANK BII MAYBANK,NO DATA,ZOMEL MARKETING SDN BHD,EXTERNAL,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191314,G007262892,NO DATA,2.702570e+08,NO DATA,MANOHARA ASRI,BANK BII MAYBANK,NO DATA,ZOMEL MARKETING SDN BHD,EXTERNAL,BB,"JATIM, BALI & NUSRA",Lending,TT,INCOMING
191315,G009025529,NO DATA,3.533640e+07,NO DATA,LOGIQUE DIGITAL INDONESIA GD AD,BANK BII MAYBANK,NO DATA,ZUTTORIDE CORPORATION,EXTERNAL,BB,JAKARTA 1,Funding,TT,INCOMING

In [19]:
gpd_data = data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK','LOB', 
'REGION' ,'FUNDING/LENDING','TYPE'])['AMOUNT_TX_IDR'].agg(AMOUNT_TX_IDR = 'sum',TRX='count')

In [20]:
gpd_data.reset_index(inplace=True)

In [21]:
gpd_data

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,TYPE,AMOUNT_TX_IDR,TRX
0,G000455626,PERMATA ASRIGRIYALESTARI,BANK BII MAYBANK,BANK RAYA INDONESIA,EXTERNAL,GB,ALL,Both,INCOMING,2.703629e+06,3
1,G000456624,SUMMARECON AGUNG,BANK BII MAYBANK,SUMMARECON AGUNG,EXTERNAL,BB,JAKARTA 2,Funding,OUTGOING,1.425000e+09,1
2,G000457192,INA PUBLIKATAMA,BANK BII MAYBANK,BRI SPAN CN,EXTERNAL,RSME,ALL,Both,INCOMING,1.064687e+07,1
3,G000457192,INA PUBLIKATAMA,BANK BII MAYBANK,INDOFARMA,EXTERNAL,RSME,ALL,Both,INCOMING,6.294150e+07,2
4,G000457192,INA PUBLIKATAMA,BANK BII MAYBANK,KALBE FARMA (BO),EXTERNAL,RSME,ALL,Both,INCOMING,3.483678e+07,2
...,...,...,...,...,...,...,...,...,...,...,...
41204,NO DATA,INDOCEMENT TUNGGAL PRAKARSA,BANK BII MAYBANK,INDOCEMENT TUNGGAL PRAKARSA,EXTERNAL,GB,ALL,Both,OUTGOING,3.715621e+10,3
41205,NO DATA,INDOSAT,BANK BII MAYBANK,INDOSAT,EXTERNAL,GB,ALL,Both,OUTGOING,1.003847e+08,1
41206,NO DATA,MABUCHI LOGISTICS INDONESIA,BANK BII MAYBANK,MABUCHI LOGISTICS INDONESIA,EXTERNAL,RSME,ALL,Both,OUTGOING,3.700559e+09,1
41207,NO DATA,TELEKOMUNIKASI SELULAR,BANK BII MAYBANK,TELEKOMUNIKASI SELULAR,EXTERNAL,GB,ALL,Both,OUTGOING,1.386613e+08,3
41208,NO DATA,TOKIO MARINE LIFE INSURANCE INDO,BANK BII MAYBANK,TM USD MONEY MARKET FUND,EXTERNAL,GB,ALL,Both,OUTGOING,3.716693e+09,2

In [24]:
gpd_data.to_excel('BB GPD.xlsx', index=False)

In [23]:
gpd_data[['FUNDING/LENDING','LOB']].value_counts()

FUNDING/LENDING  LOB
Both             RSME    13809
Lending          BB      12804
Funding          BB      10816
Both             SME+     2222
                 GB       1558
dtype: int64

In [2]:
current_data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\BB Request\GB Transactions 010223 - BB Request.xlsx', sheet_name='Funding Dataset 100')

In [3]:
current_data

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,LENDING/FUNDING,TYPE,AMOUNT_TX_IDR,TRX
0,G101417988,AGUNG PODOMORO LAND,BANK BII MAYBANK,GRIYA AGUNG SUKSES,EXTERNAL,GB,Funding,INCOMING,4.500000e+06,3
1,G101417988,AGUNG PODOMORO LAND,BANK BII MAYBANK,LESTARI MANDIRI ERAJAYA,EXTERNAL,GB,Funding,INCOMING,1.817360e+09,13
2,G101417988,AGUNG PODOMORO LAND,BANK BII MAYBANK,PUTRA FARDONI GRUP,EXTERNAL,GB,Funding,OUTGOING,9.952079e+06,2
3,G700797640,AIRINDO MUSTIKA EXPRES,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,RSME,No Data,OUTGOING,4.551360e+06,22
4,G106163538,ALIFINDO MITRA BERSAMA,BANK BII MAYBANK,BANDO INDONESIA,EXTERNAL,GB,Funding,INCOMING,2.620000e+05,1
...,...,...,...,...,...,...,...,...,...,...
309,G700455611,WIJAYA PRATAMA RAYA,BANK BII MAYBANK,RITEL PANEN ADIPERKASA P,EXTERNAL,GB,Funding,INCOMING,1.219663e+08,6
310,G002575215,WIN WIN REALTY CENTRE,BANK BII MAYBANK,DOMPET ANAK BANGSA,EXTERNAL,GB,Funding,INCOMING,2.842300e+07,8
311,G002575215,WIN WIN REALTY CENTRE,BANK BII MAYBANK,DOMPET ANAK BANGSA,EXTERNAL,GB,Funding,INCOMING,2.562750e+08,58
312,G409315777,WITAMA EXPRESS CV,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,RSME,No Data,OUTGOING,1.077936e+09,22
313,G105229785,YAYASAN BUDHA JAYANTI LABUHAN BATU,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,BB,No Data,OUTGOING,5.678200e+07,66

In [4]:
current_data = current_data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'TYPE']).agg({'AMOUNT_TX_IDR':'sum','TRX':'sum'})

In [5]:
current_data.reset_index(inplace=True)

In [6]:
current_data

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,TYPE,AMOUNT_TX_IDR,TRX
0,G000640185,BUDIMAN PURNAWAN W,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,SME+,OUTGOING,6.600000e+09,22
1,G001817055,KARMA BALI INDONESIA,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,RSME,OUTGOING,5.566000e+07,22
2,G002143527,OTO MULTIARTHA,BANK BII MAYBANK,ASM QQ OTO,EXTERNAL,GB,OUTGOING,3.536461e+10,44
3,G002575215,WIN WIN REALTY CENTRE,BANK BII MAYBANK,DOMPET ANAK BANGSA,EXTERNAL,GB,INCOMING,2.846980e+08,66
4,G002973899,KALTIM ARWANA LESTARI,BANK BII MAYBANK,KARUNIA PRIMA MEDIKA,EXTERNAL,GB,OUTGOING,5.721000e+05,1
...,...,...,...,...,...,...,...,...,...
293,G906152988,MUTIARA CEMERLANG ABADI,BANK BII MAYBANK,JAWA POS KORAN,EXTERNAL,GB,OUTGOING,4.142000e+07,1
294,G906152988,MUTIARA CEMERLANG ABADI,BANK BII MAYBANK,JO CIPUTRA MUTIARA CEMERLANG ABADI,EXTERNAL,GB,INCOMING,9.312174e+09,55
295,G906152988,MUTIARA CEMERLANG ABADI,BANK BII MAYBANK,JO CIPUTRA MUTIARA CEMERLANG ABADI,EXTERNAL,GB,OUTGOING,4.750000e+09,3
296,G908905466,SURI TANI PEMUKA,BANK BII MAYBANK,GAVILON INGREDIENTS LLC,EXTERNAL,GB,OUTGOING,2.003738e+09,1
297,G909548257,MALIKA GEMILANG ALFATIH INDONESIA,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,RSME,OUTGOING,8.343082e+08,22

In [9]:
current_data.columns

Index(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'REGION', 'FUNDING/LENDING', 'TYPE',
       'AMOUNT_TX_IDR', 'TRX'],
      dtype='object')

In [11]:
curr_gpd = current_data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'REGION', 'FUNDING/LENDING', 'TYPE']).agg({'AMOUNT_TX_IDR':'sum','TRX':'sum'})

In [12]:
curr_gpd

                                                                                                                                                       AMOUNT_TX_IDR  \
DEBTOR GCIF DEBTOR NAME                    DEBTOR BANK      SENDER/RECIPIENT NAME  SENDER/RECIPIENT BANK LOB  REGION         FUNDING/LENDING TYPE
G000630806  GUNAWAN EKA SETIONO            BANK BII MAYBANK SUMBER ALFARIA TRIJAYA EXTERNAL              RSME NON-BB         NON-BB          INCOMING   2.086868e+07
G000640185  BII MAYBANK                    BANK BII MAYBANK SAUDARA SENDIRI        EXTERNAL              SME+ NON-BB         NON-BB          OUTGOING   6.600000e+09
G000640193  SURAPANDANG                    BANK BII MAYBANK HERO SUPERMARKET       EXTERNAL              BB   SULAWESI & IBT Lending         INCOMING   2.053236e+08
                                                            INTI CAKRAWALA CITRA   EXTERNAL              BB   SULAWESI & IBT Lending         INCOMING   3.585221e+09
                                                            MIDI UTAMA INDONESIA   EXTERNAL              BB   SULAWESI & IBT Lending         INCOMING   9.194005e+09
...                                                                                                                                                              ...
G909576944  CV MITRA BELANJA SEJAHTERA     BANK BII MAYBANK SUKANDA DJAYA          EXTERNAL              RSME NON-BB         NON-BB          INCOMING   3.000000e+06
                                                                                                                                             OUTGOING   1.497026e+07
G909645715  ALFA DINAMIS INDO TEHNIK       BANK BII MAYBANK MUSIM MAS              EXTERNAL              RSME NON-BB         NON-BB          INCOMING   1.293600e+07
                                                            PRAKARSA ALAM SEGAR    EXTERNAL              RSME NON-BB         NON-BB          INCOMING   4.078760e+07
G909692519  MOVUS TECHNOLOGIES INDONESIA P BANK BII MAYBANK TOKOPEDIA              EXTERNAL              SME+ NON-BB         NON-BB          INCOMING   4.898957e+06

                                                                                                                                                       TRX
DEBTOR GCIF DEBTOR NAME                    DEBTOR BANK      SENDER/RECIPIENT NAME  SENDER/RECIPIENT BANK LOB  REGION         FUNDING/LENDING TYPE
G000630806  GUNAWAN EKA SETIONO            BANK BII MAYBANK SUMBER ALFARIA TRIJAYA EXTERNAL              RSME NON-BB         NON-BB          INCOMING    6
G000640185  BII MAYBANK                    BANK BII MAYBANK SAUDARA SENDIRI        EXTERNAL              SME+ NON-BB         NON-BB          OUTGOING   22
G000640193  SURAPANDANG                    BANK BII MAYBANK HERO SUPERMARKET       EXTERNAL              BB   SULAWESI & IBT Lending         INCOMING    5
                                                            INTI CAKRAWALA CITRA   EXTERNAL              BB   SULAWESI & IBT Lending         INCOMING   28
                                                            MIDI UTAMA INDONESIA   EXTERNAL              BB   SULAWESI & IBT Lending         INCOMING  108
...                                                                                                                                                    ...
G909576944  CV MITRA BELANJA SEJAHTERA     BANK BII MAYBANK SUKANDA DJAYA          EXTERNAL              RSME NON-BB         NON-BB          INCOMING    3
                                                                                                                                             OUTGOING    2
G909645715  ALFA DINAMIS INDO TEHNIK       BANK BII MAYBANK MUSIM MAS              EXTERNAL              RSME NON-BB         NON-BB          INCOMING    1
                                                            PRAKARSA ALAM SEGAR    EXTERNAL              RSME NON-BB         NON-BB          INCOMING    4
G909692519  MOVUS TECHNOLOGIES INDONESIA P BANK BII MAYBANK TOKOPEDIA              EXTERNAL              SME+ NON-BB         NON-BB          INCOMING    1

[1116 rows x 2 columns]

In [13]:
curr_gpd.reset_index(inplace=True)

In [14]:
curr_gpd

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,TYPE,AMOUNT_TX_IDR,TRX
0,G000630806,GUNAWAN EKA SETIONO,BANK BII MAYBANK,SUMBER ALFARIA TRIJAYA,EXTERNAL,RSME,NON-BB,NON-BB,INCOMING,2.086868e+07,6
1,G000640185,BII MAYBANK,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,SME+,NON-BB,NON-BB,OUTGOING,6.600000e+09,22
2,G000640193,SURAPANDANG,BANK BII MAYBANK,HERO SUPERMARKET,EXTERNAL,BB,SULAWESI & IBT,Lending,INCOMING,2.053236e+08,5
3,G000640193,SURAPANDANG,BANK BII MAYBANK,INTI CAKRAWALA CITRA,EXTERNAL,BB,SULAWESI & IBT,Lending,INCOMING,3.585221e+09,28
4,G000640193,SURAPANDANG,BANK BII MAYBANK,MIDI UTAMA INDONESIA,EXTERNAL,BB,SULAWESI & IBT,Lending,INCOMING,9.194005e+09,108
...,...,...,...,...,...,...,...,...,...,...,...
1111,G909576944,CV MITRA BELANJA SEJAHTERA,BANK BII MAYBANK,SUKANDA DJAYA,EXTERNAL,RSME,NON-BB,NON-BB,INCOMING,3.000000e+06,3
1112,G909576944,CV MITRA BELANJA SEJAHTERA,BANK BII MAYBANK,SUKANDA DJAYA,EXTERNAL,RSME,NON-BB,NON-BB,OUTGOING,1.497026e+07,2
1113,G909645715,ALFA DINAMIS INDO TEHNIK,BANK BII MAYBANK,MUSIM MAS,EXTERNAL,RSME,NON-BB,NON-BB,INCOMING,1.293600e+07,1
1114,G909645715,ALFA DINAMIS INDO TEHNIK,BANK BII MAYBANK,PRAKARSA ALAM SEGAR,EXTERNAL,RSME,NON-BB,NON-BB,INCOMING,4.078760e+07,4
1115,G909692519,MOVUS TECHNOLOGIES INDONESIA P,BANK BII MAYBANK,TOKOPEDIA,EXTERNAL,SME+,NON-BB,NON-BB,INCOMING,4.898957e+06,1

In [16]:
current_data =  curr_gpd

In [7]:
list_entity=current_data['DEBTOR NAME'].values.tolist()
list_entity+=current_data['SENDER/RECIPIENT NAME'].values.tolist()
list_entity=pd.DataFrame({
    'ENTITY NAME':list_entity
})
list_entity=list_entity.drop_duplicates(keep='first')

In [8]:
list_entity

                  ENTITY NAME
0          BUDIMAN PURNAWAN W
1        KARMA BALI INDONESIA
2              OTO MULTIARTHA
3       WIN WIN REALTY CENTRE
4       KALTIM ARWANA LESTARI
..                        ...
511        EUNIKE LENNY SILAS
512        HEE MARCO GRENALDI
513     SUNINDO PROPERTY JAYA
516  GLOBAL TEKNOLOGI NIAGA P
533               SIMIN PENDI

[203 rows x 1 columns]

In [9]:
list_entity.loc[list_entity['ENTITY NAME'].str.contains('AVOLON')]

Empty DataFrame
Columns: [ENTITY NAME]
Index: []

In [10]:
entity_DEBTOR=list(set(current_data['DEBTOR NAME']))
all_entity=list_entity['ENTITY NAME'].values.tolist()
sr_entity_data=[]
for name in all_entity:
    placeholder=''
    as_DEBTOR=current_data.loc[current_data['DEBTOR NAME']==name]
    as_other  =current_data.loc[current_data['SENDER/RECIPIENT NAME']==name]
    
    #if in DEBTOR, incoming -> receiver with Maybank bank, outgoing -> sender with Maybank bank
    if len(as_DEBTOR)!=0: #pernah menjadi customer maybank
        if 'INCOMING' in as_DEBTOR['TYPE'].values and 'OUTGOING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Both',as_DEBTOR['DEBTOR BANK'].iloc[0]])
        elif 'INCOMING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Receiver',as_DEBTOR['DEBTOR BANK'].iloc[0]])
        elif 'OUTGOING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Sender',as_DEBTOR['DEBTOR BANK'].iloc[0]])
    
    #if in sender/recipient, incoming -> sender with SR bank name, outgoing -> recipient with SR bank name
    if len(as_other)!=0: #pernah transaksi dgn rek Maybank sebagai nasabah bank lain
        sr_bank_names=list(set(as_other['SENDER/RECIPIENT BANK']))
        for bank in sr_bank_names:
            as_other_bank=as_other.loc[as_other['SENDER/RECIPIENT BANK']==bank]
            if 'INCOMING' in as_other_bank['TYPE'].values and 'OUTGOING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Both',bank])
            elif 'INCOMING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Sender',bank])
            elif 'OUTGOING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Receiver',bank])

sr_entity_df=pd.DataFrame(sr_entity_data,columns=['NAME','DIRECTION','BANK'])
sr_entity_df

                         NAME DIRECTION              BANK
0          BUDIMAN PURNAWAN W    Sender  BANK BII MAYBANK
1        KARMA BALI INDONESIA    Sender  BANK BII MAYBANK
2              OTO MULTIARTHA    Sender  BANK BII MAYBANK
3       WIN WIN REALTY CENTRE  Receiver  BANK BII MAYBANK
4       KALTIM ARWANA LESTARI    Sender  BANK BII MAYBANK
..                        ...       ...               ...
199        EUNIKE LENNY SILAS    Sender          EXTERNAL
200        HEE MARCO GRENALDI    Sender          EXTERNAL
201     SUNINDO PROPERTY JAYA  Receiver          EXTERNAL
202  GLOBAL TEKNOLOGI NIAGA P    Sender          EXTERNAL
203               SIMIN PENDI  Receiver          EXTERNAL

[204 rows x 3 columns]

In [11]:
sr_entity_df.loc[sr_entity_df['NAME'].str.contains('AVOLON')]

Empty DataFrame
Columns: [NAME, DIRECTION, BANK]
Index: []

In [12]:
#merge gcif
gcif_copying=current_data[['DEBTOR NAME','DEBTOR GCIF']]
gcif_copying.columns=['NAME','GCIF']

sr_entity_df=sr_entity_df.merge(gcif_copying,on='NAME',how='left')
sr_entity_df=sr_entity_df.fillna('External')

sr_entity_df=sr_entity_df.drop_duplicates()
sr_entity_df

                         NAME DIRECTION              BANK        GCIF
0          BUDIMAN PURNAWAN W    Sender  BANK BII MAYBANK  G000640185
1        KARMA BALI INDONESIA    Sender  BANK BII MAYBANK  G001817055
2              OTO MULTIARTHA    Sender  BANK BII MAYBANK  G002143527
3       WIN WIN REALTY CENTRE  Receiver  BANK BII MAYBANK  G002575215
4       KALTIM ARWANA LESTARI    Sender  BANK BII MAYBANK  G002973899
..                        ...       ...               ...         ...
397        EUNIKE LENNY SILAS    Sender          EXTERNAL    External
398        HEE MARCO GRENALDI    Sender          EXTERNAL    External
399     SUNINDO PROPERTY JAYA  Receiver          EXTERNAL    External
400  GLOBAL TEKNOLOGI NIAGA P    Sender          EXTERNAL    External
401               SIMIN PENDI  Receiver          EXTERNAL    External

[204 rows x 4 columns]

### Create entity data - Coloring

- Internal
 - In: orange
 - Out: purple
 - Both: lightblue
- External
 - In: black 
 - Out: red
 - Both: lightgreen

In [13]:
row=[sr_entity_df.iloc[0]['NAME'],sr_entity_df.iloc[0]['DIRECTION'],sr_entity_df.iloc[0]['BANK']]
'MAYBANK' in row[2]

True

In [14]:
#'MBI Out','MBI In','MBI Both','Non-MBI Out','Non-MBI In','Non-MBI Both'),
# color=c("#3333ff","#00bf30","orange","#685b5b","#c071f1","#ff0000"))
final_entity_df=[]
for i in range(len(sr_entity_df)):
    row=sr_entity_df.iloc[i]
    row=[row['NAME'],row['DIRECTION'],row['BANK'],row['GCIF']
         #,row['LOB']
        ]
    
    #row color (based on internal/external)
    if 'MAYBANK' in row[2]: #internal
        if row[1]=='Both':
            row+=['MBI Both','orange']
        elif row[1]=='Receiver':
            row+=['MBI In','#00bf30']
        else:
            row+=['MBI Out','#3333ff']
    else:
        if row[1]=='Both':
            row+=['Non-MBI Both','#ff0000']
        elif row[1]=='Receiver':
            row+=['Non-MBI In','#c071f1']
        else:
            row+=['Non-MBI Out','#685b5b']
    
    #row shape (semuanya dot) -> uncomment if needed
    row+=['dot']
    #row shape (tergantung lob) -> uncomment if needed
    #if row[4] == 'Consumer':
    #    row+=['square']
    #elif row[4] == 'RSME':
    #    row+=['triangle']
    #elif row[4] == 'SME+':
    #    row+=['triangleDown']
    #elif row[4] == 'Corporate':
    #    row+=['star']
    #elif row[4] == 'Commercial (BB)':
    #    row+=['diamond']
    #else :
    #    row+=['dot']

    
    #row id (tambahin i)
    row+=[i]
    
    #append
    final_entity_df.append(row)
    
final_entity_df=pd.DataFrame(final_entity_df,
                             columns=['ENTITY','DIRECTION','SOURCE','GCIF',
                                      #'LOB',
                                      'TYPE','COLOR','SHAPE','ID'])
final_entity_df=final_entity_df.drop_duplicates()
final_entity_df

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID
0,BUDIMAN PURNAWAN W,Sender,BANK BII MAYBANK,G000640185,MBI Out,#3333ff,dot,0
1,KARMA BALI INDONESIA,Sender,BANK BII MAYBANK,G001817055,MBI Out,#3333ff,dot,1
2,OTO MULTIARTHA,Sender,BANK BII MAYBANK,G002143527,MBI Out,#3333ff,dot,2
3,WIN WIN REALTY CENTRE,Receiver,BANK BII MAYBANK,G002575215,MBI In,#00bf30,dot,3
4,KALTIM ARWANA LESTARI,Sender,BANK BII MAYBANK,G002973899,MBI Out,#3333ff,dot,4
...,...,...,...,...,...,...,...,...
199,EUNIKE LENNY SILAS,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,199
200,HEE MARCO GRENALDI,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,200
201,SUNINDO PROPERTY JAYA,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,201
202,GLOBAL TEKNOLOGI NIAGA P,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,202
203,SIMIN PENDI,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,203

In [15]:
final_entity_df.loc[final_entity_df['ENTITY'].str.contains('GATEWAY CONTAINER LINE')]

Empty DataFrame
Columns: [ENTITY, DIRECTION, SOURCE, GCIF, TYPE, COLOR, SHAPE, ID]
Index: []

### Create trans data

Run this block if we only consider names for entities

In [16]:
trans_id=[]
for i in range(len(current_data)):
    row=current_data.iloc[i]
    
    if row['TYPE']=='INCOMING': #DEBTOR nerima, sr ngirim
        trans_id.append([row['SENDER/RECIPIENT NAME'],row['SENDER/RECIPIENT BANK'],
                         row['DEBTOR NAME'],row['DEBTOR BANK'],
                         row['AMOUNT_TX_IDR'],row['TRX']])
    else: #DEBTOR ngirim, sr nerima
        trans_id.append([row['DEBTOR NAME'],row['DEBTOR BANK'],
                         row['SENDER/RECIPIENT NAME'],row['SENDER/RECIPIENT BANK'],
                         row['AMOUNT_TX_IDR'],row['TRX']])
    
#create trans_df
trans_id=pd.DataFrame(trans_id,columns=['FROM_ENTITY','FROM_SOURCE','TO_ENTITY','TO_SOURCE','AMOUNT_TX_IDR','TRX'])

#get FROM_ID using entity data
temp=final_entity_df[['ENTITY','SOURCE','ID']].copy()
temp.columns=['FROM_ENTITY','FROM_SOURCE','FROM_ID']
trans_id=trans_id.merge(temp,on=['FROM_ENTITY','FROM_SOURCE'],how='left')

#get TO_ID using entity data
temp=final_entity_df[['ENTITY','SOURCE','ID']].copy()
temp.columns=['TO_ENTITY','TO_SOURCE','TO_ID']
trans_id=trans_id.merge(temp,on=['TO_ENTITY','TO_SOURCE'],how='left')

#trans_id=trans_id[['FROM_ID','TO_ID','AMOUNT_TX_IDR']]
trans_id=trans_id.drop_duplicates()
trans_id

,FROM_ENTITY,FROM_SOURCE,TO_ENTITY,TO_SOURCE,AMOUNT_TX_IDR,TRX,FROM_ID,TO_ID
0,BUDIMAN PURNAWAN W,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,6.600000e+09,22,0,102
1,KARMA BALI INDONESIA,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,5.566000e+07,22,1,102
2,OTO MULTIARTHA,BANK BII MAYBANK,ASM QQ OTO,EXTERNAL,3.536461e+10,44,2,103
3,DOMPET ANAK BANGSA,EXTERNAL,WIN WIN REALTY CENTRE,BANK BII MAYBANK,2.846980e+08,66,104,3
4,KALTIM ARWANA LESTARI,BANK BII MAYBANK,KARUNIA PRIMA MEDIKA,EXTERNAL,5.721000e+05,1,4,105
...,...,...,...,...,...,...,...,...
293,MUTIARA CEMERLANG ABADI,BANK BII MAYBANK,JAWA POS KORAN,EXTERNAL,4.142000e+07,1,99,119
294,JO CIPUTRA MUTIARA CEMERLANG ABADI,EXTERNAL,MUTIARA CEMERLANG ABADI,BANK BII MAYBANK,9.312174e+09,55,120,99
295,MUTIARA CEMERLANG ABADI,BANK BII MAYBANK,JO CIPUTRA MUTIARA CEMERLANG ABADI,EXTERNAL,4.750000e+09,3,99,120
296,SURI TANI PEMUKA,BANK BII MAYBANK,GAVILON INGREDIENTS LLC,EXTERNAL,2.003738e+09,1,100,107
297,MALIKA GEMILANG ALFATIH INDONESIA,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,8.343082e+08,22,101,102

In [17]:
#create initial size
size_amount=[]
size_count=[]
size_chain=[]
for name in final_entity_df['ID'].values:
    curr_agg=trans_id.loc[(trans_id['FROM_ID']==name)|(trans_id['TO_ID']==name)]
    size_amount.append(sum(curr_agg['AMOUNT_TX_IDR']))
    size_count.append(sum(curr_agg['TRX']))
    size_chain.append(len(curr_agg))

final_entity_df['ORIG_AMOUNT']=size_amount
final_entity_df['ORIG_COUNT']=size_count
final_entity_df['ORIG_CHAIN']=size_chain

final_entity_df['SIZE_AMOUNT']=[1 if i<=1 else i for i in size_amount]
final_entity_df['SIZE_COUNT']=[1 if i<=1 else i for i in size_count]
final_entity_df['SIZE_CHAIN']=[1 if i<=1 else i for i in size_chain]

#create individual flags
final_entity_df['FLAG_AMT']=final_entity_df['SIZE_AMOUNT'].apply(lambda x: 'high amt' if x>=34 else 'low amt')
final_entity_df['FLAG_TRX']=final_entity_df['SIZE_COUNT'].apply(lambda x: 'high freq' if x>=4 else 'low freq')
final_entity_df['FLAG_CHAIN']=final_entity_df['SIZE_CHAIN'].apply(lambda x: 'high chain' if x>=10 else 'low chain')

#create final filter
final_filter=[]
simplified=[]
for i in range(len(final_entity_df)):
    row=final_entity_df.iloc[i]
    curr_filter=''
    
    #final filter
    if row['FLAG_AMT']=='high amt':
        curr_filter+='high amt, '
    if row['FLAG_TRX']=='high freq':
        curr_filter+='high freq, '
    if row['FLAG_CHAIN']=='high chain':
        curr_filter+='high chain, '
    if curr_filter=='':
        curr_filter='low, '
    
    #simplified view
    if row['SIZE_CHAIN']>=2:
        curr_filter+='full'
        simplified.append('full')
    else:
        simplified.append('full')
        
    #remove trailing comma and whitespace
    curr_filter=curr_filter.rstrip(' ')
    curr_filter=curr_filter.rstrip(',')
    
    #append
    final_filter.append(curr_filter+'')

final_entity_df['FILTER']=final_filter
final_entity_df['SIMPLIFIED']=simplified
#final_entity_df['FLAG_LOB']=final_entity_df['LOB']+', '+final_entity_df['SIMPLIFIED']

In [18]:
final_entity_df

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID,ORIG_AMOUNT,ORIG_COUNT,ORIG_CHAIN,SIZE_AMOUNT,SIZE_COUNT,SIZE_CHAIN,FLAG_AMT,FLAG_TRX,FLAG_CHAIN,FILTER,SIMPLIFIED
0,BUDIMAN PURNAWAN W,Sender,BANK BII MAYBANK,G000640185,MBI Out,#3333ff,dot,0,6.600000e+09,22,1,6.600000e+09,22,1,high amt,high freq,low chain,"high amt, high freq",full
1,KARMA BALI INDONESIA,Sender,BANK BII MAYBANK,G001817055,MBI Out,#3333ff,dot,1,5.566000e+07,22,1,5.566000e+07,22,1,high amt,high freq,low chain,"high amt, high freq",full
2,OTO MULTIARTHA,Sender,BANK BII MAYBANK,G002143527,MBI Out,#3333ff,dot,2,3.536461e+10,44,1,3.536461e+10,44,1,high amt,high freq,low chain,"high amt, high freq",full
3,WIN WIN REALTY CENTRE,Receiver,BANK BII MAYBANK,G002575215,MBI In,#00bf30,dot,3,2.846980e+08,66,1,2.846980e+08,66,1,high amt,high freq,low chain,"high amt, high freq",full
4,KALTIM ARWANA LESTARI,Sender,BANK BII MAYBANK,G002973899,MBI Out,#3333ff,dot,4,5.721000e+05,1,1,5.721000e+05,1,1,high amt,low freq,low chain,high amt,full
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,EUNIKE LENNY SILAS,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,199,2.695230e+09,6,3,2.695230e+09,6,3,high amt,high freq,low chain,"high amt, high freq, full",full
200,HEE MARCO GRENALDI,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,200,6.120000e+09,3,3,6.120000e+09,3,3,high amt,low freq,low chain,"high amt, full",full
201,SUNINDO PROPERTY JAYA,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,201,1.368727e+10,6,3,1.368727e+10,6,3,high amt,high freq,low chain,"high amt, high freq, full",full
202,GLOBAL TEKNOLOGI NIAGA P,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,202,1.041007e+09,9,2,1.041007e+09,9,2,high amt,high freq,low chain,"high amt, high freq, full",full
203,SIMIN PENDI,Receiver,EXTERNAL,External,Non-MBI In,#c071f1,dot,203,1.992161e+09,23,1,1.992161e+09,23,1,high amt,high freq,low chain,"high amt, high freq",full

In [22]:
final_entity_df.to_csv('GB Funding 100_entity_id.csv')
trans_id.to_csv('GB Funding 100_trans_id.csv')