In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\Data\All Trx Data 2208.xlsx', sheet_name='All')

In [3]:
data

,BASE DATE,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK (CLEANED),LoB,TRX TYPE,IN/OUT
0,2022-08-24 00:00:00,G000051706,NaN,2.500000e+04,1.620380e+11,BUGAR WY,BANK BII MAYBANK,162270004434,NaN,BANK BII MAYBANK,RSME,M2U,OUTGOING
1,2022-08-19 00:00:00,G000210070,NaN,0.000000e+00,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
2,2022-08-19 00:00:00,G000210070,NaN,3.788900e+04,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
3,2022-08-19 00:00:00,G000340760,NaN,7.000000e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES INGRID B KURNIAWAN,BANK BCA,RSME,M2U,OUTGOING
4,2022-08-07 00:00:00,G000340760,NaN,9.342991e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES KURNIAWAN,BANK MEGA,RSME,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...,...
461155,NaN,G906874995,NaN,2.065705e+09,NaN,1DAARNHOUWER CO B.V.,THE BANK OF NEW YORK MELLON,NaN,MAS KAWI WIJOYO PT,BANK BII MAYBANK,RSME,TT,INCOMING
461156,NaN,G908487044,NaN,5.591268e+07,NaN,M OU MME BIRON GERARD,STANDARD CHARTERED BANK AG,NaN,TANJUNG EMAS SANTOSA PT,BANK BII MAYBANK,RSME,TT,INCOMING
461157,NaN,G908894835,NaN,3.762611e+08,NaN,NUNOBIKI CORE (S) PTE LTD,SUMITOMO MITSUI BANKING CORPORATION,NaN,"TAT SENG TEKNOLOGI BATAM, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461158,NaN,G909492704,NaN,2.963305e+08,NaN,1JOMOCCHO STORES (NIGERIA) ENT.,CITIBANK N.A,NaN,"KALINGGA SUKSES BERSAMA, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461159,NaN,NaN,NaN,2.968500e+10,NaN,PT INDOCEMENT TUNGGAL PRAKARSA TBK,STANDARD CHARTERED BANK,NaN,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,GB,TT,INCOMING

In [4]:
data.drop(['BASE DATE'], inplace=True, axis=1)

In [5]:
data

,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK (CLEANED),LoB,TRX TYPE,IN/OUT
0,G000051706,NaN,2.500000e+04,1.620380e+11,BUGAR WY,BANK BII MAYBANK,162270004434,NaN,BANK BII MAYBANK,RSME,M2U,OUTGOING
1,G000210070,NaN,0.000000e+00,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
2,G000210070,NaN,3.788900e+04,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
3,G000340760,NaN,7.000000e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES INGRID B KURNIAWAN,BANK BCA,RSME,M2U,OUTGOING
4,G000340760,NaN,9.342991e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES KURNIAWAN,BANK MEGA,RSME,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
461155,G906874995,NaN,2.065705e+09,NaN,1DAARNHOUWER CO B.V.,THE BANK OF NEW YORK MELLON,NaN,MAS KAWI WIJOYO PT,BANK BII MAYBANK,RSME,TT,INCOMING
461156,G908487044,NaN,5.591268e+07,NaN,M OU MME BIRON GERARD,STANDARD CHARTERED BANK AG,NaN,TANJUNG EMAS SANTOSA PT,BANK BII MAYBANK,RSME,TT,INCOMING
461157,G908894835,NaN,3.762611e+08,NaN,NUNOBIKI CORE (S) PTE LTD,SUMITOMO MITSUI BANKING CORPORATION,NaN,"TAT SENG TEKNOLOGI BATAM, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461158,G909492704,NaN,2.963305e+08,NaN,1JOMOCCHO STORES (NIGERIA) ENT.,CITIBANK N.A,NaN,"KALINGGA SUKSES BERSAMA, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461159,NaN,NaN,2.968500e+10,NaN,PT INDOCEMENT TUNGGAL PRAKARSA TBK,STANDARD CHARTERED BANK,NaN,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,GB,TT,INCOMING

In [6]:
#cleanse name values - origin name
data['ORIGIN NAME']=data['ORIGIN NAME'].str.upper()
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('PT',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('TBK',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('.',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('-',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace(',',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace("''"," ")
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('//',' ')
data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('\s+',' ',regex=True)
data['ORIGIN NAME']=data['ORIGIN NAME'].str.strip()

<ipython-input-6-a20c479fbe60>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['ORIGIN NAME']=data['ORIGIN NAME'].str.replace('.',' ')

In [7]:
#cleanse name values - benficiary name
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.upper()
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('PT',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('TBK',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('.',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('-',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace(',',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace("''"," ")
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('//',' ')
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('\s+',' ',regex=True)
data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.strip()

<ipython-input-7-f370484ed1e1>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data['BENEFICIARY NAME']=data['BENEFICIARY NAME'].str.replace('.',' ')

In [6]:
data

,GCIF,CIF,AMOUNT,ORIGIN ACCT NO,ORIGIN NAME,ORIGIN BANK,BENEFICIARY ACCT NO,BENEFICIARY NAME,BENEFICIARY BANK (CLEANED),LoB,TRX TYPE,IN/OUT
0,G000051706,NaN,2.500000e+04,1.620380e+11,BUGAR WY,BANK BII MAYBANK,162270004434,NaN,BANK BII MAYBANK,RSME,M2U,OUTGOING
1,G000210070,NaN,0.000000e+00,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
2,G000210070,NaN,3.788900e+04,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
3,G000340760,NaN,7.000000e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES INGRID B KURNIAWAN,BANK BCA,RSME,M2U,OUTGOING
4,G000340760,NaN,9.342991e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES KURNIAWAN,BANK MEGA,RSME,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
461155,G906874995,NaN,2.065705e+09,NaN,1DAARNHOUWER CO B.V.,THE BANK OF NEW YORK MELLON,NaN,MAS KAWI WIJOYO PT,BANK BII MAYBANK,RSME,TT,INCOMING
461156,G908487044,NaN,5.591268e+07,NaN,M OU MME BIRON GERARD,STANDARD CHARTERED BANK AG,NaN,TANJUNG EMAS SANTOSA PT,BANK BII MAYBANK,RSME,TT,INCOMING
461157,G908894835,NaN,3.762611e+08,NaN,NUNOBIKI CORE (S) PTE LTD,SUMITOMO MITSUI BANKING CORPORATION,NaN,"TAT SENG TEKNOLOGI BATAM, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461158,G909492704,NaN,2.963305e+08,NaN,1JOMOCCHO STORES (NIGERIA) ENT.,CITIBANK N.A,NaN,"KALINGGA SUKSES BERSAMA, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461159,NaN,NaN,2.968500e+10,NaN,PT INDOCEMENT TUNGGAL PRAKARSA TBK,STANDARD CHARTERED BANK,NaN,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,GB,TT,INCOMING

In [7]:
dataInc = data[data['IN/OUT']=='INCOMING']
dataInc.columns = ['DEBTOR GCIF', 'DEBTOR CIF', 'AMOUNT_TX_IDR', 'SENDER/RECIPIENT ACCOUNT', 
'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK', 'DEBTOR ACCOUNT', 'DEBTOR NAME', 'DEBTOR BANK',
'LOB','CHANNEL','TYPE']

In [8]:
dataInc

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,LOB,CHANNEL,TYPE
234615,G200509768,2694267.0,1.397487e+09,5.229500e+11,BICNIDJA,BANK COMMONWEALTH,2003040973,BANK COMMONWEALTH,BANK BII MAYBANK,GB,RTGS,INCOMING
234616,G701136616,5224036.0,6.660000e+08,8.001063e+11,PRISKILA PRIMA MAKMUR,BANK CIMB NIAGA,2090151040,"GAYA SUKSES MANDIRI KASEINDO, PT",BANK BII MAYBANK,SME+,RTGS,INCOMING
234617,G108860396,11997158.0,2.500000e+09,8.001375e+11,TEKNOLOGI PENGANGKUTAN INDONESIA,BANK CIMB NIAGA,2106451757,TEKNOLOGI PENGANGKUTAN INDONESIA PT,BANK BII MAYBANK,BB,RTGS,INCOMING
234618,G303208680,6939613.0,3.450000e+08,1.602561e+11,PHILIP CHAN,BANK CIMB NIAGA UUS,2034204077,"UNITED PKP, PT",BANK BII MAYBANK,RSME,RTGS,INCOMING
234619,G209183375,12278224.0,6.507500e+08,1.602562e+11,DANIEL FUTUCHATA FALACHI,BANK CIMB NIAGA UUS,2249088998,"QUALITAS QUNCI MAKMUR, PT",BANK BII MAYBANK,RSME,RTGS,INCOMING
...,...,...,...,...,...,...,...,...,...,...,...,...
461155,G906874995,NaN,2.065705e+09,NaN,1DAARNHOUWER CO B.V.,THE BANK OF NEW YORK MELLON,NaN,MAS KAWI WIJOYO PT,BANK BII MAYBANK,RSME,TT,INCOMING
461156,G908487044,NaN,5.591268e+07,NaN,M OU MME BIRON GERARD,STANDARD CHARTERED BANK AG,NaN,TANJUNG EMAS SANTOSA PT,BANK BII MAYBANK,RSME,TT,INCOMING
461157,G908894835,NaN,3.762611e+08,NaN,NUNOBIKI CORE (S) PTE LTD,SUMITOMO MITSUI BANKING CORPORATION,NaN,"TAT SENG TEKNOLOGI BATAM, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461158,G909492704,NaN,2.963305e+08,NaN,1JOMOCCHO STORES (NIGERIA) ENT.,CITIBANK N.A,NaN,"KALINGGA SUKSES BERSAMA, PT",BANK BII MAYBANK,RSME,TT,INCOMING
461159,NaN,NaN,2.968500e+10,NaN,PT INDOCEMENT TUNGGAL PRAKARSA TBK,STANDARD CHARTERED BANK,NaN,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,GB,TT,INCOMING

In [9]:
dataOut = data[data['IN/OUT']=='OUTGOING']
dataOut.columns = ['DEBTOR GCIF', 'DEBTOR CIF', 'AMOUNT_TX_IDR', 'DEBTOR ACCOUNT', 'DEBTOR NAME', 
'DEBTOR BANK', 'SENDER/RECIPIENT ACCOUNT', 'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK', 'LOB',
'CHANNEL', 'TYPE']

In [10]:
dataOut

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,CHANNEL,TYPE
0,G000051706,NaN,2.500000e+04,1.620380e+11,BUGAR WY,BANK BII MAYBANK,162270004434,NaN,BANK BII MAYBANK,RSME,M2U,OUTGOING
1,G000210070,NaN,0.000000e+00,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
2,G000210070,NaN,3.788900e+04,1.620020e+11,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
3,G000340760,NaN,7.000000e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES INGRID B KURNIAWAN,BANK BCA,RSME,M2U,OUTGOING
4,G000340760,NaN,9.342991e+06,1.610033e+11,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES KURNIAWAN,BANK MEGA,RSME,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
234610,G109580183,NaN,2.845337e+08,NaN,"ACT MITRA CONTAINERLINE, PT",BANK BII MAYBANK,NaN,CONG TY TNHH TIEP,BANK OF AMERICA,BB,TT,OUTGOING
234611,G407117019,NaN,1.187400e+07,NaN,"TRI ELANG JAYA MARITIM, PT",BANK BII MAYBANK,NaN,NGUYEN VAN QUYET,"JP MORGAN CHASE, NY",RSME,TT,OUTGOING
234612,G303936512,NaN,1.358979e+07,NaN,ADRIANA S DEWI,BANK BII MAYBANK,NaN,VI NA DAI VIET IMPORT EXPORT CO LTD,BANK OF AMERICA,RSME,TT,OUTGOING
234613,G407117019,NaN,1.484250e+07,NaN,"TRI ELANG JAYA MARITIM, PT",BANK BII MAYBANK,NaN,DUONG QUANG THANH,"JP MORGAN CHASE, NY",RSME,TT,OUTGOING
234614,G109612374,NaN,1.722398e+08,NaN,"BRANKY BUMIASRI, PT",BANK BII MAYBANK,NaN,PECOM SERVICIOS ENERGIA SA,BANK OF AMERICA,SME+,TT,OUTGOING

In [11]:
data = pd.concat([dataOut, dataInc])

In [12]:
data['DEBTOR BANK'].value_counts()

BANK BII MAYBANK    461160
Name: DEBTOR BANK, dtype: int64

In [13]:
data

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,CHANNEL,TYPE
0,G000051706,NaN,2.500000e+04,162038035791.0,BUGAR WY,BANK BII MAYBANK,162270004434,NaN,BANK BII MAYBANK,RSME,M2U,OUTGOING
1,G000210070,NaN,0.000000e+00,162002000086.0,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
2,G000210070,NaN,3.788900e+04,162002000086.0,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,BANK BII MAYBANK,RSME,M2U,OUTGOING
3,G000340760,NaN,7.000000e+06,161003315889.0,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES INGRID B KURNIAWAN,BANK BCA,RSME,M2U,OUTGOING
4,G000340760,NaN,9.342991e+06,161003315889.0,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES KURNIAWAN,BANK MEGA,RSME,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
461155,G906874995,NaN,2.065705e+09,NaN,MAS KAWI WIJOYO PT,BANK BII MAYBANK,NaN,1DAARNHOUWER CO B.V.,THE BANK OF NEW YORK MELLON,RSME,TT,INCOMING
461156,G908487044,NaN,5.591268e+07,NaN,TANJUNG EMAS SANTOSA PT,BANK BII MAYBANK,NaN,M OU MME BIRON GERARD,STANDARD CHARTERED BANK AG,RSME,TT,INCOMING
461157,G908894835,NaN,3.762611e+08,NaN,"TAT SENG TEKNOLOGI BATAM, PT",BANK BII MAYBANK,NaN,NUNOBIKI CORE (S) PTE LTD,SUMITOMO MITSUI BANKING CORPORATION,RSME,TT,INCOMING
461158,G909492704,NaN,2.963305e+08,NaN,"KALINGGA SUKSES BERSAMA, PT",BANK BII MAYBANK,NaN,1JOMOCCHO STORES (NIGERIA) ENT.,CITIBANK N.A,RSME,TT,INCOMING
461159,NaN,NaN,2.968500e+10,NaN,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,NaN,PT INDOCEMENT TUNGGAL PRAKARSA TBK,STANDARD CHARTERED BANK,GB,TT,INCOMING

In [14]:
data['SENDER/RECIPIENT BANK']='EXTERNAL'

In [15]:
data.fillna('NO DATA', inplace=True)

In [16]:
data

,DEBTOR GCIF,DEBTOR CIF,AMOUNT_TX_IDR,DEBTOR ACCOUNT,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT ACCOUNT,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,CHANNEL,TYPE
0,G000051706,NO DATA,2.500000e+04,162038035791.0,BUGAR WY,BANK BII MAYBANK,162270004434,NO DATA,EXTERNAL,RSME,M2U,OUTGOING
1,G000210070,NO DATA,0.000000e+00,162002000086.0,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,EXTERNAL,RSME,M2U,OUTGOING
2,G000210070,NO DATA,3.788900e+04,162002000086.0,SIEK HWIE HONG,BANK BII MAYBANK,162003047126,SIEK HWIE HONG,EXTERNAL,RSME,M2U,OUTGOING
3,G000340760,NO DATA,7.000000e+06,161003315889.0,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES INGRID B KURNIAWAN,EXTERNAL,RSME,M2U,OUTGOING
4,G000340760,NO DATA,9.342991e+06,161003315889.0,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,0,AGNES KURNIAWAN,EXTERNAL,RSME,M2U,OUTGOING
...,...,...,...,...,...,...,...,...,...,...,...,...
461155,G906874995,NO DATA,2.065705e+09,NO DATA,MAS KAWI WIJOYO PT,BANK BII MAYBANK,NO DATA,1DAARNHOUWER CO B.V.,EXTERNAL,RSME,TT,INCOMING
461156,G908487044,NO DATA,5.591268e+07,NO DATA,TANJUNG EMAS SANTOSA PT,BANK BII MAYBANK,NO DATA,M OU MME BIRON GERARD,EXTERNAL,RSME,TT,INCOMING
461157,G908894835,NO DATA,3.762611e+08,NO DATA,"TAT SENG TEKNOLOGI BATAM, PT",BANK BII MAYBANK,NO DATA,NUNOBIKI CORE (S) PTE LTD,EXTERNAL,RSME,TT,INCOMING
461158,G909492704,NO DATA,2.963305e+08,NO DATA,"KALINGGA SUKSES BERSAMA, PT",BANK BII MAYBANK,NO DATA,1JOMOCCHO STORES (NIGERIA) ENT.,EXTERNAL,RSME,TT,INCOMING
461159,NO DATA,NO DATA,2.968500e+10,NO DATA,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,NO DATA,PT INDOCEMENT TUNGGAL PRAKARSA TBK,EXTERNAL,GB,TT,INCOMING

In [17]:
gpd_data = data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME', 'SENDER/RECIPIENT BANK','LOB', 'TYPE'])['AMOUNT_TX_IDR'].agg(AMOUNT_TX_IDR = 'sum',TRX='count')

In [18]:
gpd_data.reset_index(inplace=True)

In [19]:
gpd_data

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,TYPE,AMOUNT_TX_IDR,TRX
0,G000051706,BUGAR WY,BANK BII MAYBANK,BUGAR WY,EXTERNAL,RSME,INCOMING,5.700000e+07,3
1,G000051706,BUGAR WY,BANK BII MAYBANK,NO DATA,EXTERNAL,RSME,OUTGOING,2.500000e+04,1
2,G000210070,SIEK HWIE HONG,BANK BII MAYBANK,SIEK HWIE HONG,EXTERNAL,RSME,OUTGOING,3.788900e+04,2
3,G000340760,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,AGNES INGRID B KURNIAWAN,EXTERNAL,RSME,OUTGOING,2.771560e+07,3
4,G000340760,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,AGNES KURNIAWAN,EXTERNAL,RSME,OUTGOING,9.342991e+06,1
...,...,...,...,...,...,...,...,...,...
122980,NO DATA,PT. INDOCEMENT TUNGGAL PRAKARSA TBK,BANK BII MAYBANK,PT INDOCEMENT TUNGGAL PRAKARSA TBK,EXTERNAL,GB,INCOMING,2.226375e+11,9
122981,NO DATA,PT. PERINDUSTRIAN SAWIT SYNERGI,BANK BII MAYBANK,TAIKO PLANTATIONS PTE LTD,EXTERNAL,RSME,INCOMING,8.000000e+10,1
122982,NO DATA,PT.PINANG WITMAS SEJATI,BANK BII MAYBANK,TAIKO PLANTATIONS PTE LTD,EXTERNAL,RSME,INCOMING,5.000000e+09,1
122983,NO DATA,PT.SINERGI AGRO INDUSTRI,BANK BII MAYBANK,TAIKO PLANTATIONS PTE LTD,EXTERNAL,RSME,INCOMING,2.674800e+11,1
122984,NO DATA,REKSA DANA SCHRODER USD BOND FUND,BANK BII MAYBANK,REKSA DANA SCHRODER USD BOND FUND,EXTERNAL,BB,OUTGOING,1.484634e+10,1

In [ ]:
gpd_data.to_excel('RSME GPD.xlsx', index=False)

# GPD #2

In [2]:
data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\RSME Request\RSME Transactions and Top Entities.xlsx', sheet_name='All Transactions')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91885 entries, 0 to 91884
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DEBTOR GCIF            91885 non-null  object
 1   DEBTOR NAME            91885 non-null  object
 2   DEBTOR BANK            91885 non-null  object
 3   SENDER/RECIPIENT NAME  91880 non-null  object
 4   SENDER/RECIPIENT BANK  91885 non-null  object
 5   LOB                    91885 non-null  object
 6   REGION                 91885 non-null  object
 7   FUNDING/LENDING        91885 non-null  object
 8   TYPE                   91885 non-null  object
 9   AMOUNT_TX_IDR          91885 non-null  float64
 10  TRX                    91885 non-null  int64
dtypes: float64(1), int64(1), object(9)
memory usage: 7.7+ MB

In [4]:
data.columns

Index(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'REGION', 'FUNDING/LENDING', 'TYPE',
       'AMOUNT_TX_IDR', 'TRX'],
      dtype='object')

In [5]:
data_gpd = data.groupby(['DEBTOR GCIF', 'DEBTOR NAME', 'DEBTOR BANK', 'SENDER/RECIPIENT NAME',
       'SENDER/RECIPIENT BANK', 'LOB', 'REGION', 'FUNDING/LENDING', 'TYPE']).agg({'AMOUNT_TX_IDR':'sum','TRX':'sum'})

In [6]:
data_gpd.reset_index(inplace=True)

In [7]:
data_gpd

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,TYPE,AMOUNT_TX_IDR,TRX
0,G000051706,BUGAR WY,BANK BII MAYBANK,BUGAR WY,EXTERNAL,RSME,SUMATERA SELATAN,Lending,INCOMING,5.700000e+07,3
1,G000051706,BUGAR WY,BANK BII MAYBANK,NO DATA,EXTERNAL,RSME,SUMATERA SELATAN,Lending,OUTGOING,2.500000e+04,1
2,G000210070,SIEK HWIE HONG,BANK BII MAYBANK,SIEK HWIE HONG,EXTERNAL,RSME,"JATIM, BALI & NUSRA",Funding,OUTGOING,3.788900e+04,2
3,G000340760,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,AGNES INGRID B KURNIAWAN,EXTERNAL,RSME,JAKARTA 1,Lending,OUTGOING,2.771560e+07,3
4,G000340760,AGNES INGRID B KURNIAWAN,BANK BII MAYBANK,AGNES KURNIAWAN,EXTERNAL,RSME,JAKARTA 1,Lending,OUTGOING,9.342991e+06,1
...,...,...,...,...,...,...,...,...,...,...,...
89627,NO DATA,PT WISMA MUKTI,BANK BII MAYBANK,ALTRUI EDUCATION E LTD,EXTERNAL,RSME,NON-RSME,NON-RSME,INCOMING,1.254000e+09,1
89628,NO DATA,PT. ARTE INTEGRA DESAIN,BANK BII MAYBANK,KAWAN CREATIVES INTERNATIONAL E,EXTERNAL,RSME,NON-RSME,NON-RSME,INCOMING,3.036984e+07,1
89629,NO DATA,PT. PERINDUSTRIAN SAWIT SYNERGI,BANK BII MAYBANK,TAIKO PLANTATIONS E LTD,EXTERNAL,RSME,NON-RSME,NON-RSME,INCOMING,8.000000e+10,1
89630,NO DATA,PT.PINANG WITMAS SEJATI,BANK BII MAYBANK,TAIKO PLANTATIONS E LTD,EXTERNAL,RSME,NON-RSME,NON-RSME,INCOMING,5.000000e+09,1
89631,NO DATA,PT.SINERGI AGRO INDUSTRI,BANK BII MAYBANK,TAIKO PLANTATIONS E LTD,EXTERNAL,RSME,NON-RSME,NON-RSME,INCOMING,2.674800e+11,1

In [8]:
data_gpd.to_excel('RSME All Transac GPD 030223.xlsx', index=False)

# Trans ID, Entity ID

In [13]:
current_data = pd.read_excel(r'C:\Users\MR38804\Documents\Network Graph\RSME Request\RSME All Transac GPD 030223.xlsx', sheet_name='Top 50 Trx')

In [14]:
current_data

,DEBTOR GCIF,DEBTOR NAME,DEBTOR BANK,SENDER/RECIPIENT NAME,SENDER/RECIPIENT BANK,LOB,REGION,FUNDING/LENDING,TYPE,AMOUNT_TX_IDR,TRX
0,G000630806,GUNAWAN EKA SETIONO,BANK BII MAYBANK,SUMBER ALFARIA TRIJAYA,EXTERNAL,RSME,JAWA TENGAH,Lending,INCOMING,2.086868e+07,6
1,G000640185,BUDIMAN PURNAWAN W,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,SME+,NON-RSME,NON-RSME,OUTGOING,6.600000e+09,22
2,G000640193,"SURAPANDANG, PT",BANK BII MAYBANK,HERO SUPERMARKET,EXTERNAL,BB,NON-RSME,NON-RSME,INCOMING,2.053236e+08,5
3,G000640193,"SURAPANDANG, PT",BANK BII MAYBANK,INTI CAKRAWALA CITRA,EXTERNAL,BB,NON-RSME,NON-RSME,INCOMING,3.585221e+09,28
4,G000640193,"SURAPANDANG, PT",BANK BII MAYBANK,MIDI UTAMA INDONESIA,EXTERNAL,BB,NON-RSME,NON-RSME,INCOMING,9.194005e+09,108
...,...,...,...,...,...,...,...,...,...,...,...
1118,G909576944,MITRA BELANJA SEJAHTERA CV,BANK BII MAYBANK,INDOMARCO ADI PRIMA,EXTERNAL,RSME,SULAWESI & IBT,Lending,OUTGOING,9.106380e+07,7
1119,G909576944,MITRA BELANJA SEJAHTERA CV,BANK BII MAYBANK,SINAR NIAGA SEJAHTERA,EXTERNAL,RSME,SULAWESI & IBT,Lending,OUTGOING,1.605566e+07,2
1120,G909592875,"M TEK INNOVA GEMILANG, PT",BANK BII MAYBANK,SAYAP MAS UTAMA,EXTERNAL,RSME,JAKARTA 1,Funding,INCOMING,2.690713e+08,3
1121,G909645715,"ALFA DINAMIS INDO TEKNIK, PT",BANK BII MAYBANK,MUSIM MAS,EXTERNAL,RSME,JAKARTA 3,Funding,INCOMING,1.293600e+07,1
1122,G909645715,"ALFA DINAMIS INDO TEKNIK, PT",BANK BII MAYBANK,PRAKARSA ALAM SEGAR,EXTERNAL,RSME,JAKARTA 3,Funding,INCOMING,4.078760e+07,4

In [15]:
list_entity=current_data['DEBTOR NAME'].values.tolist()
list_entity+=current_data['SENDER/RECIPIENT NAME'].values.tolist()
list_entity=pd.DataFrame({
    'ENTITY NAME':list_entity
})
list_entity=list_entity.drop_duplicates(keep='first')

In [16]:
list_entity

                      ENTITY NAME
0             GUNAWAN EKA SETIONO
1              BUDIMAN PURNAWAN W
2                 SURAPANDANG, PT
6                      M JAFAR HJ
7     YOUNG SHIN WORLD ZIPPER, PT
...                           ...
1318        SOUTH PACIFIC VISCOSE
1375          PRAKARSA ALAM SEGAR
1421   DHL SUPPLY CHAIN INDONESIA
1443      DARYA VARIA LABORATORIA
1621                        JD.ID

[806 rows x 1 columns]

In [17]:
list_entity.loc[list_entity['ENTITY NAME'].str.contains('AVOLON')]

Empty DataFrame
Columns: [ENTITY NAME]
Index: []

In [18]:
entity_DEBTOR=list(set(current_data['DEBTOR NAME']))
all_entity=list_entity['ENTITY NAME'].values.tolist()
sr_entity_data=[]
for name in all_entity:
    placeholder=''
    as_DEBTOR=current_data.loc[current_data['DEBTOR NAME']==name]
    as_other  =current_data.loc[current_data['SENDER/RECIPIENT NAME']==name]
    
    #if in DEBTOR, incoming -> receiver with Maybank bank, outgoing -> sender with Maybank bank
    if len(as_DEBTOR)!=0: #pernah menjadi customer maybank
        if 'INCOMING' in as_DEBTOR['TYPE'].values and 'OUTGOING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Both',as_DEBTOR['DEBTOR BANK'].iloc[0]])
        elif 'INCOMING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Receiver',as_DEBTOR['DEBTOR BANK'].iloc[0]])
        elif 'OUTGOING' in as_DEBTOR['TYPE'].values:
            sr_entity_data.append([name,'Sender',as_DEBTOR['DEBTOR BANK'].iloc[0]])
    
    #if in sender/recipient, incoming -> sender with SR bank name, outgoing -> recipient with SR bank name
    if len(as_other)!=0: #pernah transaksi dgn rek Maybank sebagai nasabah bank lain
        sr_bank_names=list(set(as_other['SENDER/RECIPIENT BANK']))
        for bank in sr_bank_names:
            as_other_bank=as_other.loc[as_other['SENDER/RECIPIENT BANK']==bank]
            if 'INCOMING' in as_other_bank['TYPE'].values and 'OUTGOING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Both',bank])
            elif 'INCOMING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Sender',bank])
            elif 'OUTGOING' in as_other_bank['TYPE'].values:
                sr_entity_data.append([name,'Receiver',bank])

sr_entity_df=pd.DataFrame(sr_entity_data,columns=['NAME','DIRECTION','BANK'])
sr_entity_df

                            NAME DIRECTION              BANK
0            GUNAWAN EKA SETIONO  Receiver  BANK BII MAYBANK
1             BUDIMAN PURNAWAN W    Sender  BANK BII MAYBANK
2                SURAPANDANG, PT  Receiver  BANK BII MAYBANK
3                     M JAFAR HJ    Sender  BANK BII MAYBANK
4    YOUNG SHIN WORLD ZIPPER, PT    Sender  BANK BII MAYBANK
..                           ...       ...               ...
801        SOUTH PACIFIC VISCOSE      Both          EXTERNAL
802          PRAKARSA ALAM SEGAR    Sender          EXTERNAL
803   DHL SUPPLY CHAIN INDONESIA    Sender          EXTERNAL
804      DARYA VARIA LABORATORIA    Sender          EXTERNAL
805                        JD.ID    Sender          EXTERNAL

[806 rows x 3 columns]

In [19]:
sr_entity_df.loc[sr_entity_df['NAME'].str.contains('AVOLON')]

Empty DataFrame
Columns: [NAME, DIRECTION, BANK]
Index: []

In [20]:
#merge gcif
gcif_copying=current_data[['DEBTOR NAME','DEBTOR GCIF']]
gcif_copying.columns=['NAME','GCIF']

sr_entity_df=sr_entity_df.merge(gcif_copying,on='NAME',how='left')
sr_entity_df=sr_entity_df.fillna('External')

sr_entity_df=sr_entity_df.drop_duplicates()
sr_entity_df

                             NAME DIRECTION              BANK        GCIF
0             GUNAWAN EKA SETIONO  Receiver  BANK BII MAYBANK  G000630806
1              BUDIMAN PURNAWAN W    Sender  BANK BII MAYBANK  G000640185
2                 SURAPANDANG, PT  Receiver  BANK BII MAYBANK  G000640193
6                      M JAFAR HJ    Sender  BANK BII MAYBANK  G000796359
7     YOUNG SHIN WORLD ZIPPER, PT    Sender  BANK BII MAYBANK  G000828749
...                           ...       ...               ...         ...
1168        SOUTH PACIFIC VISCOSE      Both          EXTERNAL    External
1169          PRAKARSA ALAM SEGAR    Sender          EXTERNAL    External
1170   DHL SUPPLY CHAIN INDONESIA    Sender          EXTERNAL    External
1171      DARYA VARIA LABORATORIA    Sender          EXTERNAL    External
1172                        JD.ID    Sender          EXTERNAL    External

[808 rows x 4 columns]

In [21]:
row=[sr_entity_df.iloc[0]['NAME'],sr_entity_df.iloc[0]['DIRECTION'],sr_entity_df.iloc[0]['BANK']]
'MAYBANK' in row[2]

True

In [22]:
#'MBI Out','MBI In','MBI Both','Non-MBI Out','Non-MBI In','Non-MBI Both'),
# color=c("#3333ff","#00bf30","orange","#685b5b","#c071f1","#ff0000"))
final_entity_df=[]
for i in range(len(sr_entity_df)):
    row=sr_entity_df.iloc[i]
    row=[row['NAME'],row['DIRECTION'],row['BANK'],row['GCIF']
         #,row['LOB']
        ]
    
    #row color (based on internal/external)
    if 'MAYBANK' in row[2]: #internal
        if row[1]=='Both':
            row+=['MBI Both','orange']
        elif row[1]=='Receiver':
            row+=['MBI In','#00bf30']
        else:
            row+=['MBI Out','#3333ff']
    else:
        if row[1]=='Both':
            row+=['Non-MBI Both','#ff0000']
        elif row[1]=='Receiver':
            row+=['Non-MBI In','#c071f1']
        else:
            row+=['Non-MBI Out','#685b5b']
    
    #row shape (semuanya dot) -> uncomment if needed
    row+=['dot']
    #row shape (tergantung lob) -> uncomment if needed
    #if row[4] == 'Consumer':
    #    row+=['square']
    #elif row[4] == 'RSME':
    #    row+=['triangle']
    #elif row[4] == 'SME+':
    #    row+=['triangleDown']
    #elif row[4] == 'Corporate':
    #    row+=['star']
    #elif row[4] == 'Commercial (BB)':
    #    row+=['diamond']
    #else :
    #    row+=['dot']

    
    #row id (tambahin i)
    row+=[i]
    
    #append
    final_entity_df.append(row)
    
final_entity_df=pd.DataFrame(final_entity_df,
                             columns=['ENTITY','DIRECTION','SOURCE','GCIF',
                                      #'LOB',
                                      'TYPE','COLOR','SHAPE','ID'])
final_entity_df=final_entity_df.drop_duplicates()
final_entity_df

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID
0,GUNAWAN EKA SETIONO,Receiver,BANK BII MAYBANK,G000630806,MBI In,#00bf30,dot,0
1,BUDIMAN PURNAWAN W,Sender,BANK BII MAYBANK,G000640185,MBI Out,#3333ff,dot,1
2,"SURAPANDANG, PT",Receiver,BANK BII MAYBANK,G000640193,MBI In,#00bf30,dot,2
3,M JAFAR HJ,Sender,BANK BII MAYBANK,G000796359,MBI Out,#3333ff,dot,3
4,"YOUNG SHIN WORLD ZIPPER, PT",Sender,BANK BII MAYBANK,G000828749,MBI Out,#3333ff,dot,4
...,...,...,...,...,...,...,...,...
803,SOUTH PACIFIC VISCOSE,Both,EXTERNAL,External,Non-MBI Both,#ff0000,dot,803
804,PRAKARSA ALAM SEGAR,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,804
805,DHL SUPPLY CHAIN INDONESIA,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,805
806,DARYA VARIA LABORATORIA,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,806
807,JD.ID,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,807

In [23]:
final_entity_df.loc[final_entity_df['ENTITY'].str.contains('GATEWAY CONTAINER LINE')]

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID
169,"GATEWAY CONTAINER LINE, PT",Both,BANK BII MAYBANK,G203736616,MBI Both,orange,dot,169

In [24]:
trans_id=[]
for i in range(len(current_data)):
    row=current_data.iloc[i]
    
    if row['TYPE']=='INCOMING': #DEBTOR nerima, sr ngirim
        trans_id.append([row['SENDER/RECIPIENT NAME'],row['SENDER/RECIPIENT BANK'],
                         row['DEBTOR NAME'],row['DEBTOR BANK'],
                         row['AMOUNT_TX_IDR'],row['TRX']])
    else: #DEBTOR ngirim, sr nerima
        trans_id.append([row['DEBTOR NAME'],row['DEBTOR BANK'],
                         row['SENDER/RECIPIENT NAME'],row['SENDER/RECIPIENT BANK'],
                         row['AMOUNT_TX_IDR'],row['TRX']])
    
#create trans_df
trans_id=pd.DataFrame(trans_id,columns=['FROM_ENTITY','FROM_SOURCE','TO_ENTITY','TO_SOURCE','AMOUNT_TX_IDR','TRX'])

#get FROM_ID using entity data
temp=final_entity_df[['ENTITY','SOURCE','ID']].copy()
temp.columns=['FROM_ENTITY','FROM_SOURCE','FROM_ID']
trans_id=trans_id.merge(temp,on=['FROM_ENTITY','FROM_SOURCE'],how='left')

#get TO_ID using entity data
temp=final_entity_df[['ENTITY','SOURCE','ID']].copy()
temp.columns=['TO_ENTITY','TO_SOURCE','TO_ID']
trans_id=trans_id.merge(temp,on=['TO_ENTITY','TO_SOURCE'],how='left')

#trans_id=trans_id[['FROM_ID','TO_ID','AMOUNT_TX_IDR']]
trans_id=trans_id.drop_duplicates()
trans_id

,FROM_ENTITY,FROM_SOURCE,TO_ENTITY,TO_SOURCE,AMOUNT_TX_IDR,TRX,FROM_ID,TO_ID
0,SUMBER ALFARIA TRIJAYA,EXTERNAL,GUNAWAN EKA SETIONO,BANK BII MAYBANK,2.086868e+07,6,758,0
1,BUDIMAN PURNAWAN W,BANK BII MAYBANK,SAUDARA SENDIRI,EXTERNAL,6.600000e+09,22,1,759
2,HERO SUPERMARKET,EXTERNAL,"SURAPANDANG, PT",BANK BII MAYBANK,2.053236e+08,5,760,2
3,INTI CAKRAWALA CITRA,EXTERNAL,"SURAPANDANG, PT",BANK BII MAYBANK,3.585221e+09,28,761,2
4,MIDI UTAMA INDONESIA,EXTERNAL,"SURAPANDANG, PT",BANK BII MAYBANK,9.194005e+09,108,762,2
...,...,...,...,...,...,...,...,...
1132,MITRA BELANJA SEJAHTERA CV,BANK BII MAYBANK,INDOMARCO ADI PRIMA,EXTERNAL,9.106380e+07,7,755,769
1133,MITRA BELANJA SEJAHTERA CV,BANK BII MAYBANK,SINAR NIAGA SEJAHTERA,EXTERNAL,1.605566e+07,2,755,789
1134,SAYAP MAS UTAMA,EXTERNAL,"M TEK INNOVA GEMILANG, PT",BANK BII MAYBANK,2.690713e+08,3,774,756
1135,MUSIM MAS,EXTERNAL,"ALFA DINAMIS INDO TEKNIK, PT",BANK BII MAYBANK,1.293600e+07,1,795,757
1136,PRAKARSA ALAM SEGAR,EXTERNAL,"ALFA DINAMIS INDO TEKNIK, PT",BANK BII MAYBANK,4.078760e+07,4,804,757

In [25]:
#create initial size
size_amount=[]
size_count=[]
size_chain=[]
for name in final_entity_df['ID'].values:
    curr_agg=trans_id.loc[(trans_id['FROM_ID']==name)|(trans_id['TO_ID']==name)]
    size_amount.append(sum(curr_agg['AMOUNT_TX_IDR']))
    size_count.append(sum(curr_agg['TRX']))
    size_chain.append(len(curr_agg))

final_entity_df['ORIG_AMOUNT']=size_amount
final_entity_df['ORIG_COUNT']=size_count
final_entity_df['ORIG_CHAIN']=size_chain

final_entity_df['SIZE_AMOUNT']=[1 if i<=1 else i for i in size_amount]
final_entity_df['SIZE_COUNT']=[1 if i<=1 else i for i in size_count]
final_entity_df['SIZE_CHAIN']=[1 if i<=1 else i for i in size_chain]

#create individual flags
final_entity_df['FLAG_AMT']=final_entity_df['SIZE_AMOUNT'].apply(lambda x: 'high amt' if x>=34 else 'low amt')
final_entity_df['FLAG_TRX']=final_entity_df['SIZE_COUNT'].apply(lambda x: 'high freq' if x>=4 else 'low freq')
final_entity_df['FLAG_CHAIN']=final_entity_df['SIZE_CHAIN'].apply(lambda x: 'high chain' if x>=10 else 'low chain')

#create final filter
final_filter=[]
simplified=[]
for i in range(len(final_entity_df)):
    row=final_entity_df.iloc[i]
    curr_filter=''
    
    #final filter
    if row['FLAG_AMT']=='high amt':
        curr_filter+='high amt, '
    if row['FLAG_TRX']=='high freq':
        curr_filter+='high freq, '
    if row['FLAG_CHAIN']=='high chain':
        curr_filter+='high chain, '
    if curr_filter=='':
        curr_filter='low, '
    
    #simplified view
    if row['SIZE_CHAIN']>=2:
        curr_filter+='full'
        simplified.append('full')
    else:
        simplified.append('full')
        
    #remove trailing comma and whitespace
    curr_filter=curr_filter.rstrip(' ')
    curr_filter=curr_filter.rstrip(',')
    
    #append
    final_filter.append(curr_filter+'')

final_entity_df['FILTER']=final_filter
final_entity_df['SIMPLIFIED']=simplified
#final_entity_df['FLAG_LOB']=final_entity_df['LOB']+', '+final_entity_df['SIMPLIFIED']

In [26]:
final_entity_df

,ENTITY,DIRECTION,SOURCE,GCIF,TYPE,COLOR,SHAPE,ID,ORIG_AMOUNT,ORIG_COUNT,ORIG_CHAIN,SIZE_AMOUNT,SIZE_COUNT,SIZE_CHAIN,FLAG_AMT,FLAG_TRX,FLAG_CHAIN,FILTER,SIMPLIFIED
0,GUNAWAN EKA SETIONO,Receiver,BANK BII MAYBANK,G000630806,MBI In,#00bf30,dot,0,2.086868e+07,6,1,2.086868e+07,6,1,high amt,high freq,low chain,"high amt, high freq",full
1,BUDIMAN PURNAWAN W,Sender,BANK BII MAYBANK,G000640185,MBI Out,#3333ff,dot,1,6.600000e+09,22,1,6.600000e+09,22,1,high amt,high freq,low chain,"high amt, high freq",full
2,"SURAPANDANG, PT",Receiver,BANK BII MAYBANK,G000640193,MBI In,#00bf30,dot,2,1.493260e+10,171,4,1.493260e+10,171,4,high amt,high freq,low chain,"high amt, high freq, full",full
3,M JAFAR HJ,Sender,BANK BII MAYBANK,G000796359,MBI Out,#3333ff,dot,3,2.290000e+07,1,1,2.290000e+07,1,1,high amt,low freq,low chain,high amt,full
4,"YOUNG SHIN WORLD ZIPPER, PT",Sender,BANK BII MAYBANK,G000828749,MBI Out,#3333ff,dot,4,1.845000e+05,1,1,1.845000e+05,1,1,high amt,low freq,low chain,high amt,full
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,SOUTH PACIFIC VISCOSE,Both,EXTERNAL,External,Non-MBI Both,#ff0000,dot,803,2.848631e+10,61,18,2.848631e+10,61,18,high amt,high freq,high chain,"high amt, high freq, high chain, full",full
804,PRAKARSA ALAM SEGAR,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,804,2.934907e+10,59,11,2.934907e+10,59,11,high amt,high freq,high chain,"high amt, high freq, high chain, full",full
805,DHL SUPPLY CHAIN INDONESIA,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,805,3.205125e+10,276,6,3.205125e+10,276,6,high amt,high freq,low chain,"high amt, high freq, full",full
806,DARYA VARIA LABORATORIA,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,806,6.237036e+09,82,13,6.237036e+09,82,13,high amt,high freq,high chain,"high amt, high freq, high chain, full",full
807,JD.ID,Sender,EXTERNAL,External,Non-MBI Out,#685b5b,dot,807,4.740065e+10,282,5,4.740065e+10,282,5,high amt,high freq,low chain,"high amt, high freq, full",full

In [27]:
final_entity_df.to_csv('RSME_entity_id.csv')
trans_id.to_csv('RSME_trans_id.csv')